Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

The contact menu now displays the contact and posts link as well
  include/conversation.php
Due: backend

Fix for falsely detected AP profile in case of timeout
  src/Network/Probe.php
Due: source

Added logging
  src/Network/Probe.php
Due: source

Adjust codecov
  .codecov.yml
Due: none

EOL
  .codecov.yml
Due: none

forgot "default"
  .codecov.yml
Due: none

forgot h
  .codecov.yml
Due: none

Prevent side effects with BBCode::convert in testAutoLinking()
  tests/src/Content/Text/BBCodeTest.php
Due: tests

adding changes till 2019-03-13
  CHANGELOG
Due: none

Fixing preamble in enotify
  include/enotify.php
Due: backend

Swap attachment conversion and autolinking in BBCode::convert
  src/Content/Text/BBCode.php
Due: source

Add inline spans to code block extraction in BBCode::convert
  src/Content/Text/BBCode.php
Due: source

Forums now are working with AP as well
  src/Model/Contact.php
  src/Model/Item.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/Notifier.php
Due: source

Issue 6874: Allow remote follow via Peertube
  mod/follow.php
Due: backend

Oeertube or Peertube? The last one sounds better :-)
  mod/follow.php
Due: backend

Only remove when "acct:" is the beginning
  mod/follow.php
Due: backend

Fix notice - it's "uri" not "url"
  src/Network/Probe.php
Due: source

Issue 6521: Don't show notifications on posts that the user deleted
  include/enotify.php
Due: backend

Issue 6167: Don't distribute uploaded pictures
  src/Worker/Notifier.php
Due: source

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

Issue 6167: Don't publish non visible content
  src/Protocol/ActivityPub/Transmitter.php
  src/Protocol/DFRN.php
  src/Worker/Delivery.php
  src/Worker/Notifier.php
Due: source

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

We now send a summary via AP. This partially fixes the problem with Mastodon and Articles
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Adding the "abstract" element to the imported feed
  src/Protocol/Feed.php
Due: source

Adding a line feed looks nicer
  src/Protocol/Feed.php
Due: source

remove autofocus from search box
  view/templates/searchbox.tpl
Due: none

- Adding additional legacy .htconfig information
  src/Core/Config/Cache/ConfigCacheLoader.php
  tests/datasets/config/.htconfig.test.php
  tests/src/Core/Config/Cache/ConfigCacheLoaderTest.php
Due: source, tests

Fixing .htconfig
  src/Core/Config/Cache/ConfigCacheLoader.php
  tests/datasets/config/.htconfig.test.php
  tests/src/Core/Config/Cache/ConfigCacheLoaderTest.php
Due: source, tests

Summary has to be converted to HTML / Don't use summary when we have the source
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

refactor naming & superfluous check
  src/Core/Config/Cache/ConfigCache.php
  src/Core/Config/Cache/ConfigCacheLoader.php
Due: source

Centralise the item content processing in a single function
  src/Protocol/ActivityPub/Processor.php
Due: source

Added logging since this exixted before
  src/Protocol/ActivityPub/Processor.php
Due: source

Clarified return values
  src/Protocol/ActivityPub/Processor.php
Due: source

Issue 6537: Transmit the real author of a post in a dedicated field in the API
  doc/api.md
  include/api.php
Due: backend

Take the author from the author
  include/api.php
Due: backend

Fixes errors/notices
  src/Protocol/ActivityPub/Processor.php
  view/theme/frio/php/default.php
Due: source

Exclude punctuation from domain in autolinker regular expression
  src/Util/Strings.php
Due: source

Add test for bug
  tests/src/Content/Text/BBCodeTest.php
Due: tests

adding changes till 2019-03-17
  CHANGELOG
Due: none

missing word
  CHANGELOG
Due: none

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
