Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Added nofilter to geotag
  view/templates/jot-header.tpl
  view/theme/frio/templates/jot-header.tpl
  view/theme/smoothly/templates/jot-header.tpl
Due: none

DFRN comments are now stored as comments again
  src/Protocol/DFRN.php
  src/Protocol/OStatus.php
Due: source

Fix: Connector posts now do work again (postopts hadn't been stored)
  src/Model/ItemDeliveryData.php
Due: source

BBCode - added preg_replacers for local [url] without target="_blank"
  src/Content/Text/BBCode.php
Due: source

BBCode - fixed code styling
  src/Content/Text/BBCode.php
Due: source

BBCode - removed convert for relative URLs
  src/Content/Text/BBCode.php
Due: source

BBCode - optimized preg escaping of searchstring
  src/Content/Text/BBCode.php
Due: source

BBCode - optimized preg searchstring
  src/Content/Text/BBCode.php
Due: source

BBCode - fixed syntax error
  src/Content/Text/BBCode.php
Due: source

added nofilter to banner in smoothy and quaddro
  view/theme/quattro/templates/nav.tpl
  view/theme/smoothly/templates/nav.tpl
Due: none

Replace help/guide with help/Quick-Start-guide
  mod/newmember.php
Due: backend

Preparation for forum posts over AP
  src/Module/Objects.php
Due: source

Fetchting the original post at first, then the other way is dafer.
  src/Module/Objects.php
Due: source

frio - fixed bug in user menu for remote user - see issue #6495
  view/theme/frio/theme.php
Due: none

frio - fixed bug in user menu for visitors - see after-merge discussion in #6526
  view/theme/frio/theme.php
Due: none

Switch to supported HTML entity for bullet in delivery indicator
  view/templates/sub/delivery_count.tpl
  view/theme/frio/templates/sub/delivery_count.tpl
  view/theme/vier/templates/sub/delivery_count.tpl
Due: none

frio - fix bug in admin users with table sorting #6529
  view/theme/frio/templates/admin/users.tpl
Due: none

frio - fix PHP Notices reported in #6338
  view/theme/frio/theme.php
Due: none

Fix database error
  mod/viewcontacts.php
Due: backend

Another preparation for forum posts via AP
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/Notifier.php
Due: source

Logger Unique ID
  src/Util/Logger/FriendicaProcessor.php
  src/Util/LoggerFactory.php
Due: source

removing array prefix (compatibility)
  src/Util/Logger/FriendicaProcessor.php
Due: source

Double backslash
  src/Util/LoggerFactory.php
Due: source

improving code
  src/Util/Logger/FriendicaProcessor.php
Due: source

Making the processor name more explicit
  src/Util/Logger/FriendicaIntrospectionProcessor.php
  src/Util/LoggerFactory.php
Due: source

Display mentioned users and in the comment box by default
  src/Model/Item.php
  src/Object/Post.php
  view/templates/comment_item.tpl
  view/theme/duepuntozero/templates/comment_item.tpl
  view/theme/frio/templates/comment_item.tpl
  view/theme/quattro/templates/comment_item.tpl
  view/theme/vier/templates/comment_item.tpl
Due: source

Removing the parameter
  src/Object/Post.php
Due: source

Standards
  src/Object/Post.php
Due: source

Rename conflicted variable $info in admin settings
  mod/admin.php
  view/templates/admin/site.tpl
  view/theme/frio/templates/admin/site.tpl
Due: backend

Filesystem storage: set permission on folders and files
  src/Model/Storage/Filesystem.php
Due: source

Filesystem storage: handle basepath with trailing slash
  src/Model/Storage/Filesystem.php
Due: source

[frio] Fix help TOC display
  mod/help.php
Due: backend

Put cursor at end of default mentions in comment box
  view/templates/head.tpl
  view/theme/frio/js/textedit.js
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

DE translation update THX copis
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

BBcode, Tags - fix BBCode created tags in [code] blocks, fix usage of multiple ## created tags
  src/Content/Text/BBCode.php
  src/Model/Item.php
Due: source

BBcode, Tags - fixed doubbbllee trroubbllee
  src/Model/Item.php
Due: source

BBcode, Tags - moved [code] escaping before BBCode::getTags() call
  src/Model/Item.php
Due: source

BBcode, Tags - changes for #pullrequestreview-197771905
  src/Model/Item.php
Due: source
