Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

4) Adding Factories to other entrypoints
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  mod/admin.php
  src/App.php
  src/BaseObject.php
  src/Core/Console/AutomaticInstallation.php
  src/Core/Console/DatabaseStructure.php
  src/Core/Console/PostUpdate.php
  src/Core/Installer.php
  src/Core/Update.php
  src/Database/DBA.php
  src/Database/DBStructure.php
  src/Factory/ConfigFactory.php
  src/Model/Attach.php
  src/Module/Install.php
  src/Worker/DBUpdate.php
  tests/DatabaseTest.php
  tests/include/ApiTest.php
Due: source, backend, binary, tests

Bugfixing tests
  src/Database/DBA.php
  tests/DatabaseTest.php
Due: source, tests

Bugfixing tests
  boot.php
Due: none

Bugfixing PConfig
  src/App.php
  src/Core/Config/ConfigCache.php
  src/Core/Config/PreloadPConfigAdapter.php
  src/Factory/ConfigFactory.php
Due: source

Adding descriptions
  src/Core/Config.php
  src/Core/Config/ConfigCache.php
  src/Core/Config/ConfigCacheLoader.php
  src/Core/Config/IConfigCache.php
  src/Core/Config/IPConfigCache.php
  src/Core/PConfig.php
Due: source

Bugfixing AutomaticInstallation test
  src/Core/Console/AutomaticInstallation.php
  src/Core/Console/Config.php
  src/Core/Console/Typo.php
  tests/Util/AppMockTrait.php
  tests/src/BaseObjectTest.php
  tests/src/Core/Cache/CacheTest.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/Console/ConsoleTest.php
  tests/src/Core/Lock/LockTest.php
Due: source, tests

Only escape leading hash marks in Markdown::toBBCode
  src/Content/Text/Markdown.php
Due: source

attachment preview: scroll the content not the mocal (adds scroll bars to the modal conent if it is to large)
  view/theme/frio/css/style.css
  view/theme/frio/templates/acl_selector.tpl
Due: none

Lower priority for removing users
  src/Model/User.php
Due: source

Lower priority for removing item
  src/Worker/RemoveContact.php
Due: source

Bugfixing Config output for memcached_hosts[]
  src/Core/Console/Config.php
Due: source

attachment preview: fix a bug if inserted text did contain a new line between content and url
  view/js/linkPreview.js
Due: none

Bugfixing Addon-config
  src/Core/Config/ConfigCacheLoader.php
Due: source

Typo at addon-directory-name ...
  src/Core/Config/ConfigCacheLoader.php
Due: source

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

Updating type-hints and some naming conventions
  src/Core/Config.php
  src/Core/Config/ConfigCache.php
  src/Core/Config/ConfigCacheLoader.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Config/JITPConfigAdapter.php
  src/Core/Config/PreloadConfigAdapter.php
  src/Core/Config/PreloadPConfigAdapter.php
  src/Database/DBA.php
  src/Factory/ConfigFactory.php
Due: source

Updating type-hints and some naming conventions
  src/Core/Config.php
  src/Core/PConfig.php
Due: source

Moved addon directory constant
  src/Core/Addon.php
  src/Core/Config/ConfigCacheLoader.php
Due: source

type-hints
  src/Factory/LoggerFactory.php
Due: source

use magic Links for forums listed in the advanced profile section
  src/Content/ForumManager.php
Due: source

frio: add account type to the profile vcard
  view/theme/frio/css/style.css
  view/theme/frio/templates/profile_vcard.tpl
  view/theme/frio/templates/vcard-widget.tpl
Due: none

Improve Markdown::convert panel display in mod/babel
  mod/babel.php
Due: backend

Remove asterisk provision altogether in Markdown::toBBCode
  src/Content/Text/Markdown.php
Due: source

File storage options, naming of the default option and EN docs
  doc/Settings.md
  mod/admin.php
Due: backend

DE documentation for the Filestorage backend and some typos
  doc/de/Settings.md
Due: none

Removed implicit ::getApp() instance and added docblock
  src/BaseObject.php
  src/Core/Config.php
  src/Core/PConfig.php
Due: source

Fixing tests
  tests/include/ApiTest.php
  tests/src/Database/DBATest.php
  tests/src/Database/DBStructureTest.php
Due: tests

Refactoring ConfigCacheLoader methods
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  index.php
  src/App.php
  src/Core/Config/ConfigCache.php
  src/Core/Config/ConfigCacheLoader.php
  src/Util/BasePath.php
Due: source, binary

move isDirectoryUsable to System
  boot.php
  src/App.php
  src/Core/System.php
  src/Util/BasePath.php
Due: source

Adding unittest for empty setApp()
  src/BaseObject.php
  tests/src/BaseObjectTest.php
Due: source, tests

removing code for now
  mod/friendica.php
  src/LegacyModule.php
Due: source, backend

using Config::get (automatically use the right cache)
  mod/friendica.php
Due: backend

Creating legacy config loading method
  src/Core/Addon.php
  src/Core/Config/ConfigCacheLoader.php
Due: source

codeblock updates
  src/Core/Config/IConfigAdapter.php
  src/Core/Config/IPConfigAdapter.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Config/JITPConfigAdapter.php
  src/Core/Config/PreloadConfigAdapter.php
  src/Core/Config/PreloadPConfigAdapter.php
Due: source

bugfixing ini-loading
  src/Core/Config/ConfigCacheLoader.php
Due: source

codeblock updates
  src/Core/Config/ConfigCacheLoader.php
Due: source

method refactoring & docblock
  src/Core/Config/ConfigCacheLoader.php
Due: source

Storage Backend: wording of admin panel help
  mod/admin.php
Due: backend

Some small notice prevented
  src/Object/Post.php
Due: source

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
