Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Fix using wrong uid for APDelivery in Worker\Notifier
  src/Worker/Notifier.php
Due: source

restore THEMEPATH variable in mod/view
  mod/view.php
Due: backend

add comment about the PATH
  mod/view.php
Due: backend

unescaping the HTML in the hint
  view/templates/admin/federation.tpl
Due: none

Fix two additional uses of uid in Worker\Notifier
  src/Worker/Notifier.php
Due: source

Fix default value of contact parameter of OStatus::import in mod/salmon
  mod/salmon.php
  src/Protocol/OStatus.php
Due: source, backend

Add Register module in src/
  boot.php
  src/Module/Register.php
  view/templates/register.tpl
  view/theme/frio/templates/register.tpl
Due: source

Replace REGISTER_* constants by Module\Register::* ones
  config/local-sample.config.php
  config/settings.config.php
  include/api.php
  mod/admin.php
  mod/bookmarklet.php
  mod/friendica.php
  mod/home.php
  mod/invite.php
  mod/nodeinfo.php
  mod/openid.php
  mod/ping.php
  mod/regmod.php
  mod/statistics_json.php
  mod/uimport.php
  mods/local.config.vagrant.php
  src/Content/Nav.php
  src/Module/Login.php
  src/Protocol/PortableContact.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  view/templates/local.config.tpl
Due: source, backend, tests

Fix output of /friendica/json for invite only and approval registration policy
  mod/friendica.php
Due: backend

Cleanup register artifacts
  boot.php
  mod/register.php
Due: backend

Restore display of delivery status
  view/theme/frio/templates/wall_thread.tpl
Due: none

Add new PostUpdate function to initialize delivery data
  src/Database/PostUpdate.php
Due: source

Update delivery count display
  view/templates/sub/delivery_count.tpl
  view/theme/frio/css/style.css
  view/theme/frio/templates/sub/delivery_count.tpl
  view/theme/frio/templates/wall_thread.tpl
  view/theme/vier/templates/sub/delivery_count.tpl
  view/theme/vier/templates/wall_thread.tpl
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

update for ES thx Abraham Pérez Hernández
  view/lang/es/messages.po
  view/lang/es/strings.php
Due: none

Fix missing reference to 'data' key in Util\Crypto
  src/Util/Crypto.php
Due: source

Fix method scope in Model\Attach
  src/Model/Attach.php
Due: source

Fix types in doc blocks/prototypes
  src/Content/Widget/TagCloud.php
  src/Core/Console.php
  src/Core/Renderer.php
  src/Core/StorageManager.php
  src/Model/Attach.php
  src/Model/Mail.php
  src/Model/Photo.php
  src/Object/Image.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Protocol/Email.php
  src/Protocol/OStatus.php
  src/Util/Temporal.php
  src/Util/XML.php
Due: source

Remove unused variable in Model\Item
  src/Model/Item.php
Due: source

Remove unused code/use statements
  src/Content/Text/HTML.php
  src/Module/Contact.php
  src/Module/Inbox.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fix query return type in Widget\TagCloud
  src/Content/Widget/TagCloud.php
Due: source

Fix possibly undefined variables
  src/Content/ForumManager.php
  src/Content/Widget/TagCloud.php
  src/Model/Event.php
  src/Model/Term.php
  src/Module/Photo.php
Due: source

Fix wrong variable name in Worker\Delivery
  src/Worker/Delivery.php
Due: source

Update array notation in Protocol\DFRN
  src/Protocol/DFRN.php
Due: source

User DOMDocument object call instead of static in Content\OEmbed
  src/Content/OEmbed.php
Due: source

Add AP Inbox logging back with config
  config/defaults.config.php
  src/Module/Inbox.php
Due: source

Use new log levels in admin log settings page
  mod/admin.php
Due: backend

Change workerqueue.parameter to mediumtext for lisibility
  config/dbstructure.config.php
  database.sql
Due: none

Fix indentation in Module\Inbox
  src/Module/Inbox.php
Due: source

[Travis] Update target PHP versions
  .travis.yml
Due: none

Fix for several fatal errors
  src/Content/OEmbed.php
  src/Content/Widget/ContactBlock.php
  src/Module/Inbox.php
  src/Protocol/DFRN.php
  src/Protocol/OStatus.php
  src/Worker/Notifier.php
Due: source

Parameters redone
  src/Protocol/OStatus.php
Due: source

Fixed "created" origin
  src/Worker/Notifier.php
Due: source

Fix missing library include in Database\DBstructure
  src/Database/DBStructure.php
Due: source

Fix missing use statement in Module\Inbox
  src/Module/Inbox.php
Due: source

Update requirements with PHP 7.1+, MySQL 5.6+ and MariaDB 10.0.5+
  INSTALL.md
Due: none

Updated composer.lock
  composer.lock
Due: none

Adding an explicit FriendicaProcessor
  src/Util/Logger/FriendicaProcessor.php
  src/Util/LoggerFactory.php
Due: source

Logger: Display the correct file, function and line number
  src/Util/Logger/FriendicaProcessor.php
Due: source
