Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

DE translation update
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

The owner of a "like" should be the author
  src/Model/Item.php
  src/Protocol/Diaspora.php
Due: source

Fix (short) profile editing showing 'e' for martial and sexual preference
  mod/profiles.php
  view/theme/frio/templates/profile_edit.tpl
Due: backend

Additional check to ensure that the owner of an activity is always the author
  src/Protocol/DFRN.php
Due: source

Improved AP distribution / Only process trusted content
  src/Protocol/ActivityPub/Receiver.php
  src/Worker/Notifier.php
Due: source

"name" must be plaintext
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Transmit the Diaspora GUID with activities (Like, Dislike, ...)
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Changing Friendica\App\Mode from static methods to public methods
  bin/auth_ejabberd.php
  bin/daemon.php
  composer.json
  composer.lock
  index.php
  phpunit.xml
  src/App.php
  src/App/Mode.php
  src/Core/Config.php
  src/Core/Console/ArchiveContact.php
  src/Core/Console/Cache.php
  src/Core/Console/Config.php
  src/Core/Console/GlobalCommunityBlock.php
  src/Core/Console/GlobalCommunitySilence.php
  src/Core/Console/Maintenance.php
  src/Core/Console/NewPassword.php
  src/Core/Console/PostUpdate.php
  src/Core/PConfig.php
  tests/Util/VFSTrait.php
  tests/src/App/ModeTest.php
  tests/src/Core/Console/ConsoleTest.php
Due: source, binary, tests

Removing debugging echo
  phpunit.xml
  src/App/Mode.php
  tests/ApiTest.php
  tests/DatabaseTest.php
  tests/bootstrap.php
Due: source, tests

Preparation for suggestions under AP
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/APDelivery.php
Due: source

Avoid a notice
  mod/fsuggest.php
Due: backend

friendica-5847 Console Cache List command doesn't work
  src/Core/Cache.php
  src/Core/Cache/AbstractCacheDriver.php
  src/Core/Cache/ArrayCache.php
  src/Core/Cache/DatabaseCacheDriver.php
  src/Core/Cache/ICacheDriver.php
  src/Core/Cache/MemcacheCacheDriver.php
  src/Core/Cache/MemcachedCacheDriver.php
  src/Core/Cache/RedisCacheDriver.php
  src/Core/Console/Cache.php
  tests/src/Core/Cache/ArrayCacheDriverTest.php
  tests/src/Core/Cache/CacheTest.php
  tests/src/Core/Cache/DatabaseCacheDriverTest.php
  tests/src/Core/Cache/MemcacheCacheDriverTest.php
  tests/src/Core/Cache/MemcachedCacheDriverTest.php
  tests/src/Core/Cache/RedisCacheDriverTest.php
Due: source, tests

friendica-5847 Console Cache List command doesn't work
  src/Core/Cache/AbstractCacheDriver.php
  src/Core/Cache/ArrayCache.php
  src/Core/Cache/MemcacheCacheDriver.php
  src/Core/Cache/MemcachedCacheDriver.php
  src/Core/Console/Cache.php
Due: source

Bugfixing Memcached
  src/Core/Cache/MemcachedCacheDriver.php
Due: source

Switch to parsing compacted JSON data
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Util/JsonLD.php
Due: source

Save return_url before login. Add login mask to many sites if not logged in.
  mod/contacts.php
  mod/events.php
  mod/message.php
  mod/notifications.php
  mod/profiles.php
  mod/settings.php
  src/Module/Login.php
Due: source, backend

Switching to parsing the JSON-LD
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

The new parsing is now active
  src/Module/Inbox.php
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

owner is now actor
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

Some more cleanup
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

Several fixes
  src/Module/Inbox.php
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

Bugfixings for getAllKeys()
  src/Core/Cache.php
  src/Core/Cache/DatabaseCacheDriver.php
  src/Core/Cache/ICacheDriver.php
  src/Core/Cache/MemcachedCacheDriver.php
  src/Core/Console/Cache.php
Due: source

Detect the object type
  database.sql
  src/Protocol/ActivityPub/Receiver.php
Due: source

Duplicated line removed
  src/Util/JsonLD.php
Due: source

AP: Avoid an empty avatar field
  src/Protocol/ActivityPub/Transmitter.php
Due: source

AP fixes: LD-signature, wrong owner for completed thres, account removal
  composer.lock
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Worker/Notifier.php
Due: source

word-wrap for comments in frio style.css
  view/theme/frio/css/style.css
Due: none

frio set working css property + adding fix for vier
  view/theme/frio/css/style.css
  view/theme/vier/style.css
Due: none

Replace goaway location SESSION var return_url with page as string value
  include/items.php
  mod/events.php
  mod/filerm.php
  mod/ostatus_subscribe.php
  mod/repair_ostatus.php
Due: backend

Return to item if not owned by user or canceld
  include/items.php
Due: backend

goaway to network if deleted item + remove goaway for filerm
  include/items.php
  mod/filerm.php
Due: backend

Revert "Word Wrap for long words in comments"
  view/theme/frio/css/style.css
  view/theme/vier/style.css
Due: none

Give Login Form previous URL to return to. SESSION var is empty if invalid page. empty args is catched by function
  src/Module/Login.php
Due: source

AP: Switchting existing contacts to AP when receiving activities
  src/Protocol/ActivityPub/Processor.php
Due: source

AP: Avoid a misleading log entry / unneeded field removed
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Bugfixing DatabaseTest
  tests/DatabaseTest.php
Due: tests

Bugfixing Backend
  src/App.php
Due: source

parameters and getURLpath to getURLPath
  mod/admin.php
  mod/dfrn_request.php
  mod/hcard.php
  mod/profile.php
  mod/redir.php
  mod/settings.php
  mod/xrd.php
  src/App.php
  src/Core/NotificationsManager.php
  src/Model/Contact.php
  src/Module/Magic.php
  view/theme/frio/php/default.php
Due: source, backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
