Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Move files from util to mods
  bin/dev/vagrant_provision.sh
  mods/README.md
  mods/bookmarklet-share2friendica/README.md
  mods/bookmarklet-share2friendica/bookmarklet-share2friendica.js
  mods/fpostit/README
  mods/fpostit/fpostit.js
  mods/fpostit/fpostit.php
  mods/fpostit/friendika-32.png
  mods/local.config.vagrant.php
  mods/redme.txt
Due: binary

Move Doxyfile to base directory
  Doxyfile
  doc/Developers-Intro.md
  doc/html/index.php
  util/Doxygen.footer
Due: none

Move testargs to bin
  bin/testargs.php
  src/Core/Installer.php
Due: source, binary

Remove util directory
  phpunit.xml
  src/Core/Console/DocBloxErrorChecker.php
  util/.htaccess
  util/README
Due: source

Update path to friendica-to-smarty-tpl.py
  bin/dev/updatetpl.py
Due: binary

Update INSTALL file
  INSTALL.md
  INSTALL.txt
Due: none

Add details to translation documentation
  doc/translations.md
Due: none

Restore hard wrapping in INSTALL documentation
  INSTALL.md
Due: none

Issue 6212: No need of a redirect for fetching content
  mod/display.php
Due: backend

Using the same function for display and objects
  mod/display.php
Due: backend

Remove "all" value for nets parameter
  mod/network.php
  src/Content/Nav.php
  src/Module/Contact.php
  view/templates/contact_edit.tpl
  view/templates/nets.tpl
  view/theme/frio/templates/contact_edit.tpl
  view/theme/frio/templates/nets.tpl
  view/theme/quattro/templates/nets.tpl
  view/theme/vier/templates/contact_edit.tpl
Due: source, backend

Improved url detection for redirects
  src/App.php
  src/Module/Magic.php
Due: source

Remove x() function
  boot.php
Due: none

Fix condition in api_fr_photo_create_update
  include/api.php
Due: backend

Fixing permanent deletion counter
  mod/admin.php
  src/Worker/CronJobs.php
Due: source, backend

Typo
  mod/admin.php
Due: backend

Avoid problems with too long URI (should only happen some RSS feeds)
  src/Model/ItemURI.php
Due: source

Avoid database error that the field "guid" is not present in the contact table
  src/Protocol/ActivityPub/Receiver.php
Due: source

Avoid duplicated contacts, improve contact deletion, avoid memory issues
  config/dbstructure.config.php
  src/Core/Update.php
  src/Database/DBA.php
  src/Model/Contact.php
Due: source

Using the standard function to return http errors
  mod/fetch.php
  mod/pubsub.php
Due: backend

More detailled HTTP error explanations
  mod/pubsub.php
  src/Core/System.php
Due: source, backend

Simplify the call
  mod/fetch.php
  mod/pubsub.php
Due: backend

Ignoring OEmbed array values
  src/Object/OEmbed.php
Due: source

Fix: The event name mustn't be escaped, since it can contain converted BBCode
  view/theme/frio/templates/event_stream_item.tpl
Due: none

Add DB connection status check in Update::check
  src/Core/Update.php
Due: source

Issue 5911: Fix for fetching the correct user
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fix for exceptions on external redirects
  src/Core/System.php
Due: source

Fix for notice
  src/Protocol/PortableContact.php
Due: source

Make it simpler
  src/Protocol/PortableContact.php
Due: source

Added a hint to help/Settings "Logs/logrotate" section in install.md
  doc/Install.md
Due: none

Issue 6168: "redir" now mostly use OWA
  mod/dfrn_poll.php
  mod/redir.php
  src/Model/Contact.php
  src/Network/CurlResult.php
  src/Network/Probe.php
  src/Util/LDSignature.php
Due: source, backend

Improved fallback when the probing fails
  src/Model/Contact.php
Due: source

Added to-do
  src/Model/Contact.php
Due: source

Avoids the notice "array_merge(): Argument #1 is not an array"
  src/Network/CurlResult.php
Due: source

Issue 6236: Handle account removal messages with very low priority
  src/Worker/Notifier.php
Due: source

Fix for remote authentication when visiting contact's pages
  mod/delegate.php
  mod/display.php
  mod/profile.php
  src/Model/Contact.php
Due: source, backend

Non public content is now displayed again to visitors.
  include/conversation.php
  mod/display.php
  mod/profile.php
  src/Model/Item.php
Due: source, backend

Welcome 2018.12-rc
  VERSION
  boot.php
Due: none

Possibly fix a memory issue with large posts
  mod/display.php
  src/Util/JsonLD.php
Due: source, backend
