Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Welcome 2018.09
  VERSION
  boot.php
Due: none

Update person, undo activity and improved security checks
  src/Protocol/ActivityPub.php
Due: source

Switch contacts from OStatus to ActivityPub
  src/Protocol/ActivityPub.php
Due: source

Update version to 2018.12-dev
  VERSION
  boot.php
  database.sql
Due: none

Variable fix
  src/Protocol/ActivityPub.php
Due: source

Remove addon_hooks template variable
  doc/Addons.md
  view/templates/head.tpl
  view/theme/frio/templates/head.tpl
Due: none

Normalize padding of inline code
  view/global.css
  view/theme/frio/css/style.css
Due: none

Disabled logging
  src/Module/Inbox.php
  src/Protocol/ActivityPub.php
Due: source

Improve Addons doc further
  doc/Addons.md
Due: none

Update Install.md
  doc/de/Install.md
Due: none

Cleaned code
  src/Protocol/ActivityPub.php
  src/Util/JsonLD.php
  src/Util/LDSignature.php
Due: source

Add missing "outdated" parameter to ICacheDriver->clear in Core\Cache
  src/Core/Cache.php
Due: source

Improve doc blocks in cache drivers
  src/Core/Cache/DatabaseCacheDriver.php
  src/Core/Cache/MemcacheCacheDriver.php
  src/Core/Cache/MemcachedCacheDriver.php
  src/Core/Cache/RedisCacheDriver.php
Due: source

Add ICacheDriver->getAllKeys method
  src/Core/Cache.php
  src/Core/Cache/ArrayCache.php
  src/Core/Cache/DatabaseCacheDriver.php
  src/Core/Cache/ICacheDriver.php
  src/Core/Cache/MemcacheCacheDriver.php
  src/Core/Cache/MemcachedCacheDriver.php
  src/Core/Cache/RedisCacheDriver.php
Due: source

Add informative public static members to Core\Cache
  src/Core/Cache.php
Due: source

Add new Cache console command
  src/Core/Console.php
  src/Core/Console/Cache.php
Due: source

Remove obsolete lines from Console\Config
  src/Core/Console/Config.php
Due: source

Some more clean up
  src/Protocol/ActivityPub.php
Due: source

Fix delivery only for comments to native networks
  src/Protocol/ActivityPub.php
  src/Worker/APDelivery.php
Due: source

Changed conversation url (used for AP)
  src/Protocol/OStatus.php
Due: source

APContact stuff is moved to an own class
  src/Model/APContact.php
  src/Protocol/ActivityPub.php
  src/Util/HTTPSignature.php
  src/Util/LDSignature.php
Due: source

UUID instead of GUID
  include/api.php
  mod/item.php
  mod/photos.php
  mod/poke.php
  mod/subthread.php
  mod/tagger.php
  src/Core/System.php
  src/Model/Event.php
  src/Model/Item.php
  src/Model/Mail.php
  src/Model/User.php
  src/Protocol/ActivityPub.php
  src/Protocol/Diaspora.php
Due: source, backend

Avoid warnings
  src/Model/APContact.php
  src/Protocol/ActivityPub.php
Due: source

Added some doxygen headers
  src/Protocol/ActivityPub.php
Due: source

Added doxygen data
  src/Util/HTTPSignature.php
  src/Util/JsonLD.php
Due: source

Avoid warnings, added documentation
  src/Protocol/ActivityPub.php
  src/Util/JsonLD.php
Due: source

Some more documentation
  src/Protocol/ActivityPub.php
Due: source

New database version
  boot.php
Due: none

Diaspora in AP - and changed function name
  src/Protocol/ActivityPub.php
Due: source

UUID is now createUUID
  include/api.php
  mod/item.php
  mod/photos.php
  mod/poke.php
  mod/subthread.php
  mod/tagger.php
  src/Core/System.php
  src/Model/Event.php
  src/Model/Item.php
  src/Model/Mail.php
  src/Model/User.php
  src/Protocol/Diaspora.php
Due: source, backend

Function naming ...
  src/Protocol/ActivityPub.php
Due: source

Changed comment
  src/Util/HTTPSignature.php
Due: source

Corrected function names
  src/Util/LDSignature.php
Due: source

Only communicate with contacts that aren't pending
  src/Protocol/ActivityPub.php
Due: source

Get PHP Configuration for upload limit and display in /admin summary site
  mod/admin.php
  view/theme/frio/templates/admin/summary.tpl
Due: backend

fix indent
  view/theme/frio/templates/admin/summary.tpl
Due: none

associative array + adding mysql value + removing table header
  mod/admin.php
  view/theme/frio/templates/admin/summary.tpl
Due: backend

Adding serversettings table in template for non frio themes
  view/templates/admin/summary.tpl
Due: none

Composer-foo
  composer.lock
Due: none

moved line
  composer.json
Due: none

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
