Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

AP also tested with Hubzilla and Osada
  CHANGELOG
Due: none

AP: Only reshare stuff that is AP content
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Improved ID detection
  src/Protocol/ActivityPub/Transmitter.php
Due: source

We only need to fetch the content once
  src/Protocol/ActivityPub/Transmitter.php
Due: source

AP Bugfix: We hadn't transmitted an tag url at all ...
  src/Protocol/ActivityPub/Transmitter.php
Due: source

forgotten issue 5966
  CHANGELOG
Due: none

It is 2019
  LICENSE
Due: none

Welcome 2019.01
  VERSION
  boot.php
Due: none

missed the day
  CHANGELOG
Due: none

Added original keys to sexual preference
  src/Content/ContactSelector.php
Due: source

Added original keys to gender
  src/Content/ContactSelector.php
Due: source

Added original keys to maritial status
  src/Content/ContactSelector.php
Due: source

Translated gender etc. in profile view
  src/Model/Profile.php
Due: source

Added EMPTY key + updated to hypolite's suggestions
  src/Content/ContactSelector.php
Due: source

Some more alignation
  src/Content/ContactSelector.php
Due: source

Why got this even approved?
  src/Content/ContactSelector.php
Due: source

Translated string will never match what's saved in DB if not english
  src/Content/ContactSelector.php
Due: source

Move Photo module, update Photo model
  mod/photo.php
  src/Model/Photo.php
  src/Module/Photo.php
Due: source, backend

Catch HTTPExceptions in App::runFrontend()
  src/App.php
Due: source

Pluggable storage backends: first steps
  config/dbstructure.config.php
  src/Model/Photo.php
  src/Model/Storage/SystemResource.php
  src/Module/Photo.php
Due: source

Add Filesystem storage backend and store photo via backend
  .gitignore
  src/Model/Photo.php
  src/Model/Storage/Filesystem.php
Due: source

Add IStorage interface
  src/Model/Storage/IStorage.php
  src/Model/Storage/SystemResource.php
Due: source

Return default profile photo if no profile photo is set
  src/Module/Photo.php
Due: source

More code standard
  src/Module/Photo.php
Due: source

Address code standards issues
  .gitignore
  src/Model/Photo.php
  src/Model/Storage/Filesystem.php
  src/Model/Storage/IStorage.php
  src/Model/Storage/SystemResource.php
  src/Module/Photo.php
Due: source

Revert "Catch HTTPExceptions in App::runFrontend()"
  src/App.php
Due: source

Remove default from backend columns
  config/dbstructure.config.php
Due: none

Model/Photo: use self select functions, reuse backend, fix quotes, add delete()
  src/Model/Photo.php
Due: source

photos: use model delete() to delete photos
  mod/photos.php
Due: backend

Filesystem storage: add "index.html" files in dirs
  src/Model/Storage/Filesystem.php
Due: source

Code standards
  src/Model/Photo.php
  src/Model/Storage/IStorage.php
  src/Model/Storage/SystemResource.php
  src/Module/Photo.php
Due: source

profile_photo: use Photo model function to get photo and image
  mod/profile_photo.php
  src/Module/Photo.php
Due: source, backend

Code standards
  src/Module/Photo.php
Due: source

Update database.sql
  database.sql
Due: none

Photo model: set updated field in update()
  src/Model/Photo.php
Due: source

Add update() to Photo model
  mod/photos.php
  src/Model/Photo.php
Due: source, backend

Code standards
  mod/photos.php
  src/Model/Photo.php
Due: source, backend

Photo model: fix docs, don't update "created" field
  src/Core/System.php
  src/Model/Photo.php
Due: source

Storage: throw StorageException on errors
  src/Model/Storage/Filesystem.php
  src/Model/Storage/StorageException.php
Due: source

Add Database storage backend
  config/dbstructure.config.php
  database.sql
  src/Model/Storage/Database.php
Due: source
