Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Add System::jsonError method for ajax call returns
  src/Core/System.php
Due: source

Add contact removal from all groups when blocked
  src/Model/Contact.php
Due: source

Improve contactgroupChangeMember() javascript function
  view/js/main.js
  view/templates/group_side.tpl
  view/theme/frio/templates/group_side.tpl
  view/theme/quattro/templates/group_side.tpl
Due: none

Delete mod/contactgroup and mod/group files
  mod/contactgroup.php
  mod/group.php
Due: backend

Fix typo in mod/profiles
  mod/profiles.php
Due: backend

Replace EMPTY value by empty value in profile selectors
  src/Content/ContactSelector.php
Due: source

Hide "never" on profile
  src/Model/Profile.php
Due: source

Update base translation strings
  view/lang/C/messages.po
Due: none

Fixing force-flag for lock-releasing
  src/Core/Lock.php
  src/Core/Lock/CacheLockDriver.php
  src/Core/Lock/DatabaseLockDriver.php
  src/Core/Lock/ILockDriver.php
  src/Core/Lock/SemaphoreLockDriver.php
  src/Core/Update.php
Due: source

fixing delete
  src/Core/Lock/CacheLockDriver.php
Due: source

Ensure that the database update will be processed anyway
  src/Core/Update.php
Due: source

We should execute the worker job for normal situations ;-)
  src/Core/Update.php
Due: source

Adjust update parameters: -f|--force Force the update command (Even if the database structure matches) -o|--override Override running or stalling updates
  src/Core/Console/DatabaseStructure.php
  src/Core/Console/PostUpdate.php
  src/Core/Lock.php
  src/Core/Lock/CacheLockDriver.php
  src/Core/Lock/DatabaseLockDriver.php
  src/Core/Lock/ILockDriver.php
  src/Core/Lock/SemaphoreLockDriver.php
  src/Core/Update.php
Due: source

added whitespace
  src/Core/Console/PostUpdate.php
Due: source

Replace string namespaces with ::class
  src/Factory/LoggerFactory.php
  src/Factory/ProfilerFactory.php
  tests/Util/DBAMockTrait.php
  tests/Util/DBStructureMockTrait.php
  tests/Util/DateTimeFormatMockTrait.php
  tests/Util/L10nMockTrait.php
  tests/Util/RendererMockTrait.php
  tests/src/Core/Console/ConfigConsoleTest.php
  tests/src/Core/InstallerTest.php
  tests/src/Util/Logger/WorkerLoggerTest.php
  tests/src/Util/ProfilerTest.php
Due: source, tests

removed silent fail of logfile permission (should get fixed with #6745 )
  src/Factory/LoggerFactory.php
Due: source

Fixing https://github.com/friendica/friendica/issues/6338#issuecomment-458030934
  mod/display.php
Due: backend

Fixing https://github.com/friendica/friendica/issues/6338#issuecomment-466749280
  src/Protocol/PortableContact.php
Due: source

Fixing admin scheme-change in frio
  view/theme/frio/php/scheme.php
Due: none

empty is better than isset
  view/theme/frio/php/scheme.php
Due: none

Fixing appending child at DFRN without a parent id.
  src/Protocol/DFRN.php
Due: source

update phpdoc
  src/Protocol/DFRN.php
Due: source

Add missing use statement in Model\Term
  src/Model/Term.php
Due: source

Stop appending entry when parent is missing in OStatus
  src/Protocol/OStatus.php
Due: source

Fix missing avatar key in DFRN
  src/Protocol/DFRN.php
Due: source

Add empty entry author if contact query fails in DFRN
  src/Protocol/DFRN.php
Due: source

Add scheme input protection in frio/config.php
  view/theme/frio/config.php
Due: none

Add missing author contact in ActivityPub\Processor
  src/Protocol/ActivityPub/Processor.php
Due: source

update FR translations THX hypolite
  view/lang/fr/messages.po
  view/lang/fr/strings.php
Due: none

Code standards: Add missing space in ActivityPub\Processor
  src/Protocol/ActivityPub/Processor.php
Due: source

Protect access to rel attribute in Network\Probe
  src/Network/Probe.php
Due: source

Fix wrong use of array_shift in Core\Worker
  src/Core/Worker.php
Due: source

Fix possibly undefined after index in Text\BBCode
  src/Content/Text/BBCode.php
Due: source

[Composer] Update npm-asset/fullcalendar to version 3.10.0
  composer.json
  composer.lock
Due: none

adding changes till 2019-02-25
  CHANGELOG
Due: none

fixing links in photoMenu
  include/conversation.php
  src/Model/Contact.php
Due: source, backend

Enhanced logging, stopping worker after cron lifetime
  src/Core/Worker.php
Due: source

Using constants is nicer
  src/Core/Worker.php
Due: source

Respawing when quitting
  src/Core/Worker.php
Due: source

And moving the block back to the old place
  src/Core/Worker.php
Due: source
