Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

The function is only needed in the same class
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Moved documentation
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fix goaway url when login failed + using info to display message
  src/Module/Login.php
Due: source

Static reason for login failure to prevent bruteforce
  src/Module/Login.php
Due: source

Renamed functions
  mod/dfrn_confirm.php
  src/Model/Contact.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/APDelivery.php
Due: source, backend

Another renamed function
  mod/profile.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source, backend

goaway with argument
  src/Module/Login.php
Due: source

Attachments do work now
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Tags are now transmitted as expected
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fix error / "about" is now converted to BBCode
  src/Model/APContact.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Unused "use" removed
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Added some to-do
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Simplified attachment handling
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Funkwhale documentation added
  src/Protocol/ActivityPub.php
Due: source

It's possibly better to use context links that do exist
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Improved return values
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Added to-do
  src/Protocol/ActivityPub/Receiver.php
Due: source

is sensitive
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Install: After detecting DB already in use, go back to db_stettings with error
  mod/install.php
Due: backend

fix indent with tabs
  mod/install.php
Due: backend

Submit button for rss poll
  view/theme/frio/templates/contact_edit.tpl
Due: none

css for submit button
  view/theme/frio/templates/contact_edit.tpl
Due: none

Changed attachment handling to improve Mastodon compatibility
  src/Protocol/ActivityPub/Transmitter.php
Due: source

AP Bugfix: Following a soapbox now works / rapid follow/unfollow should work now
  src/Model/Contact.php
  src/Protocol/ActivityPub/Processor.php
Due: source

Adding "FRIENDICA_URL_PATH" to the automatic installation
  doc/Install.md
  src/Core/Console/AutomaticInstallation.php
Due: source

Fixing tests for AutomaticInstallation
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

We now can show "Friendica (AP)" as network name
  include/conversation.php
  src/Content/ContactSelector.php
  src/Object/Post.php
Due: source, backend

Send a follow request upon contact switch to AP
  src/Protocol/ActivityPub/Receiver.php
Due: source

Avoid to do the follow stuff for the public user
  src/Protocol/ActivityPub/Receiver.php
Due: source

Creating Friendica\App\Mode for encapsulating the App Mode
  bin/auth_ejabberd.php
  index.php
  src/App.php
  src/App/Mode.php
  src/Core/Config.php
  src/Core/Console/ArchiveContact.php
  src/Core/Console/Cache.php
  src/Core/Console/Config.php
  src/Core/PConfig.php
Due: source, binary

delete unused use
  src/App.php
Due: source

Cache the AP delivery process
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/APDelivery.php
  src/Worker/Notifier.php
Due: source

moving boot::check_addons to Friendica\Core\Addon::check
  boot.php
  index.php
  src/Core/Addon.php
Due: source

Used new select function
  src/Core/Addon.php
Due: source

Replace remaining $a->isInstallMode() instances
  bin/daemon.php
  index.php
  src/Core/Console/GlobalCommunityBlock.php
  src/Core/Console/GlobalCommunitySilence.php
  src/Core/Console/Maintenance.php
  src/Core/Console/NewPassword.php
  src/Core/Console/PostUpdate.php
Due: source, binary

Spaces
  src/Protocol/ActivityPub/Transmitter.php
Due: source

AP delivery is relocated to the top of the notifier
  src/Worker/Notifier.php
Due: source

Include AP in the contact search
  mod/acl.php
  mod/contacts.php
  mod/network.php
  src/Core/ACL.php
  src/Model/GContact.php
Due: source, backend

No @brief anymore
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none
