Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

base64url calls
  mod/salmon.php
  spec/zot-2012.txt
  src/Content/OEmbed.php
  src/Content/Smilies.php
  src/Module/Magic.php
  src/Module/Oembed.php
  src/Module/Owa.php
  src/Network/Probe.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Protocol/Salmon.php
  src/Util/Crypto.php
  src/Util/Strings.php
Due: source, backend

link_compare calls
  mod/dirfind.php
  mod/invite.php
  mod/item.php
  mod/message.php
  mod/openid.php
  mod/photos.php
  mod/pubsub.php
  mod/pubsubhubbub.php
  mod/redir.php
  mod/settings.php
  src/App.php
  src/Model/Item.php
  src/Model/Profile.php
  src/Model/User.php
  src/Object/Post.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Util/Strings.php
  src/Worker/Delivery.php
Due: source, backend

Missing Use statements
  src/Util/Strings.php
Due: source

bug fix
  src/Protocol/Diaspora.php
Due: source

Create/Update tests
  tests/include/TextTest.php
  tests/src/Util/StringsTest.php
Due: tests

Update and Remove isValidEmail
  mod/dirfind.php
  mod/invite.php
  mod/settings.php
  src/Model/User.php
  src/Util/Strings.php
Due: source, backend

Move getTags to BBCode
  mod/item.php
  mod/photos.php
  src/Content/Text/BBCode.php
  src/Model/Item.php
  src/Util/Strings.php
Due: source, backend

Rename escapeTags to escapeHtml
  mod/admin.php
  mod/dirfind.php
  mod/events.php
  mod/fsuggest.php
  mod/item.php
  mod/message.php
  mod/network.php
  mod/profile.php
  mod/profiles.php
  mod/wallmessage.php
  src/Model/Item.php
  src/Module/Contact.php
  src/Module/Hashtag.php
  src/Util/Strings.php
  src/Worker/OnePoll.php
  tests/src/Util/StringsTest.php
Due: source, backend, tests

friendica-6101 slow travis-ci tests
  composer.json
  composer.lock
Due: none

friendica-6101 slow travis-ci tests
  phpunit.xml
Due: none

skipping TTL tests
  tests/src/Core/Cache/CacheTest.php
  tests/src/Core/Lock/LockTest.php
Due: tests

Accept data structure in Logger::devLog
  src/Core/Logger.php
Due: source

Replace obsolete Addon::callHooks call with Hook::callAll in Model\Contact
  src/Model/Contact.php
Due: source

Accept URLs with no trailing slash in Probe::uri
  src/Network/Probe.php
Due: source

Honor preference order in webfinger links
  src/Network/Probe.php
Due: source

Use atom:author/atom:uri as profile-link in Feed::import
  src/Protocol/Feed.php
Due: source

Improve return path in mod/follow
  mod/follow.php
Due: backend

Fix formatting in Probe::uri
  src/Network/Probe.php
Due: source

Add URL encoding to toggle_mobile parameter
  src/App.php
Due: source

Add some hook to check if hook should be forked
  src/Core/Hook.php
Due: source

Logger is not needed anymore
  src/Core/Hook.php
Due: source

Some redesign
  src/Core/Hook.php
Due: source

Added documentation
  doc/Addons.md
Due: none

Issue 6100: The AS object should be fetchable for every original post
  src/Module/Objects.php
Due: source

Missing use for Strings
  mod/removeme.php
Due: backend

Removing some notices again
  src/Protocol/PortableContact.php
  src/Worker/Delivery.php
Due: source

API: The wrong user had been shown for repeated posts
  include/api.php
Due: backend

Fix wromg server detecting / improved Pleroma version numbers
  mod/admin.php
  src/Network/CurlResult.php
Due: source, backend

A redirect is not an error
  src/Network/CurlResult.php
Due: source

Avoid a blocked workerqueue due to removed users
  src/Worker/RemoveUser.php
Due: source

Execute database update before post update is called
  src/Core/Console/PostUpdate.php
Due: source

Issue 6032: Avoid fatal error
  mod/profile.php
Due: backend

Don't suggest hidden contacts / Added AP to the suggestions
  mod/dirfind.php
  src/Model/GContact.php
Due: source, backend

Output all technical fields - even for hidden contacts
  mod/noscrape.php
Due: backend

Fix Notice in LegacyModule
  src/LegacyModule.php
Due: source

Fixes notice "PHP Notice: Undefined index: return_path"
  src/Module/Login.php
Due: source

Avoid "Cannot modify header information - headers already sent"
  mod/profile.php
Due: backend

Convert remaining instances of "contacts" in mod/unfollow
  mod/unfollow.php
Due: backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
