Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Move delimiter props and functions
  src/App.php
  src/Core/Renderer.php
  src/Render/FriendicaSmarty.php
Due: source

Add missing Logger::log()
  src/Core/Lock.php
Due: source

Template Engine and props to Renderer
  mod/admin.php
  src/App.php
  src/Core/Renderer.php
  src/Model/Profile.php
  src/Module/Install.php
  view/theme/duepuntozero/theme.php
  view/theme/frio/theme.php
  view/theme/smoothly/theme.php
  view/theme/vier/theme.php
Due: source, backend

Misspelling in use statement
  mod/editpost.php
Due: backend

Fix for vier theme / NonAjax Call
  mod/item.php
  view/theme/vier/templates/wall_thread.tpl
Due: backend

Redirect to previous page after NON-AJAX Post delete via second parameter in /item/drop
  include/items.php
  mod/item.php
  src/Object/Post.php
  view/theme/frio/templates/wall_thread.tpl
Due: source, backend

make return url optional
  include/items.php
Due: backend

Add support for quattro
  view/theme/quattro/templates/wall_thread.tpl
Due: none

Update Install.php
  src/Module/Install.php
Due: source

Fix not working unarchive contact batch action
  src/Module/Contact.php
Due: source

DE translation THX vinz
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

AutoInstall Test fix
  tests/Util/AppMockTrait.php
  tests/Util/RendererMockTrait.php
  tests/datasets/ini/assert.ini.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

documentation
  tests/Util/RendererMockTrait.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

Test enhancements
  src/BaseObject.php
  tests/DatabaseTest.php
  tests/MockedTest.php
  tests/Util/AppMockTrait.php
  tests/Util/DBAMockTrait.php
  tests/Util/L10nMockTrait.php
  tests/include/ApiTest.php
  tests/include/TextTest.php
  tests/src/App/ModeTest.php
  tests/src/BaseObjectTest.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/InstallerTest.php
Due: source, tests

Test enhancements
  tests/include/ApiTest.php
Due: tests

Fix for delivering forum posts again
  mod/item.php
  src/Model/Term.php
Due: source, backend

Preparations for a relocation message / fix for notice
  src/Model/APContact.php
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Util/JsonLD.php
Due: source

Support for fetching non-public content / preparations for forum posts
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Util/HTTPSignature.php
  src/Util/Network.php
Due: source

Fixes #6071: We should use the correct variable ...
  src/Protocol/ActivityPub.php
Due: source

Fix small typo / Workerqueue count now only counts non deferred entries
  src/Core/Worker.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

Cleaned up the notifier
  src/Worker/Notifier.php
Due: source

Lock TTL fix
  tests/src/Core/Cache/ArrayCacheDriverTest.php
  tests/src/Core/Cache/DatabaseCacheDriverTest.php
  tests/src/Core/Cache/MemcacheCacheDriverTest.php
  tests/src/Core/Cache/MemcachedCacheDriverTest.php
  tests/src/Core/Cache/RedisCacheDriverTest.php
  tests/src/Core/Lock/ArrayCacheLockDriverTest.php
  tests/src/Core/Lock/DatabaseLockDriverTest.php
  tests/src/Core/Lock/MemcacheCacheLockDriverTest.php
  tests/src/Core/Lock/MemcachedCacheLockDriverTest.php
  tests/src/Core/Lock/RedisCacheLockDriverTest.php
  tests/src/Core/Lock/SemaphoreLockDriverTest.php
Due: tests

Implement functions
  include/conversation.php
  mod/dfrn_confirm.php
  mod/filer.php
  mod/filerm.php
  mod/photos.php
  mod/poco.php
  mod/poke.php
  mod/profile.php
  mod/subthread.php
  mod/tagger.php
  src/Content/Widget.php
  src/Model/Event.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
Due: source, backend

Move to XML
  include/text.php
  src/Util/XML.php
Due: source, backend

Rename functions
  src/Util/XML.php
Due: source

forgotten self
  src/Util/XML.php
Due: source

Update function calls
  include/conversation.php
  include/text.php
  mod/dfrn_confirm.php
  mod/filer.php
  mod/filerm.php
  mod/photos.php
  mod/poco.php
  mod/poke.php
  mod/profile.php
  mod/subthread.php
  mod/tagger.php
  src/Content/Widget.php
  src/Model/Event.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
Due: source, backend

Move methods to new Util/Strings class
  src/Util/Strings.php
  src/Util/XML.php
Due: source

Update function calls
  include/conversation.php
  include/text.php
  mod/dfrn_confirm.php
  mod/filer.php
  mod/filerm.php
  mod/photos.php
  mod/poco.php
  mod/poke.php
  mod/profile.php
  mod/subthread.php
  mod/tagger.php
  src/Content/Widget.php
  src/Model/Event.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Util/Strings.php
Due: source, backend

Create/Update tests
  tests/include/TextTest.php
  tests/src/Util/StringsTest.php
Due: tests

Directory issue 15: Support the "account-type"
  mod/noscrape.php
Due: backend

Language is now transmitted as well
  mod/noscrape.php
Due: backend

Revert "Update function calls"
  include/conversation.php
  include/text.php
  mod/dfrn_confirm.php
  mod/filer.php
  mod/filerm.php
  mod/photos.php
  mod/poco.php
  mod/poke.php
  mod/profile.php
  mod/subthread.php
  mod/tagger.php
  src/Content/Widget.php
  src/Model/Event.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Util/Strings.php
Due: source, backend

Revert "Move methods to new Util/Strings class"
  src/Util/Strings.php
  src/Util/XML.php
Due: source

Update and rename test class
  tests/src/Util/XmlTest.php
Due: tests

Issue 6074: Language and "explicit" are now exported
  mod/friendica.php
Due: backend

Move random Digits to Crypto class
  boot.php
  include/conversation.php
  mod/editpost.php
  mod/photos.php
  src/Core/System.php
  src/Object/Post.php
  src/Util/Crypto.php
  tests/src/Util/CryptoTest.php
Due: source, backend, tests

copy/paste error
  tests/src/Util/CryptoTest.php
Due: tests

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
