Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

The log text is now shorter
  src/Core/Worker.php
Due: source

The cron interval is minutes - so we have to convert it into seconds
  src/Core/Worker.php
Due: source

Removed unneeded spaces
  src/Core/Worker.php
Due: source

Log the time as decimal
  src/Core/Worker.php
Due: source

Added some description, changed logger call
  src/Core/Worker.php
Due: source

Hide silenced authors from public timeline
  include/api.php
Due: backend

Fix namespaces
  tests/src/BaseObjectTest.php
  tests/src/Core/Config/Cache/ConfigCacheLoaderTest.php
  tests/src/Core/Config/Cache/ConfigCacheTest.php
  tests/src/Core/Config/ConfigurationTest.php
  tests/src/Core/Config/PConfigurationTest.php
  tests/src/Database/DBATest.php
  tests/src/Database/DBStructureTest.php
  tests/src/Model/UserTest.php
  tests/src/Util/ArraysTest.php
  tests/src/Util/Logger/WorkerLoggerTest.php
  tests/src/Util/ProfilerTest.php
  tests/src/Util/StringsTest.php
  tests/src/Util/XmlTest.php
Due: tests

Replace isset by array_key_exists on array class constant in Model\Term
  src/Model/Term.php
Due: source

added DiCa and Fedilab clients to the FAQ listed clients
  doc/FAQ.md
  doc/de/FAQ.md
Due: none

German ... m)
  doc/de/FAQ.md
Due: none

Reuse existing Strings::getRandomHex function
  src/Util/Logger/WorkerLogger.php
  tests/src/Util/Logger/WorkerLoggerTest.php
Due: source, tests

admin mail list seems wrong escaped
  src/Core/Update.php
Due: source

'%' is deprecated
  src/Core/Update.php
Due: source

Replace strong by title format for item title in mod/share
  mod/share.php
Due: backend

Improve reshare format for Diaspora destinations
  src/Content/Text/BBCode.php
Due: source

Issue 6395: Don't log details to avoid memory issues
  src/Util/JsonLD.php
Due: source

Adding updated field to photo table
  config/dbstructure.config.php
Due: none

Adding to database.sql too
  database.sql
Due: none

Fix handling table name during storage move
  src/Core/Console/Storage.php
  src/Core/StorageManager.php
Due: source

adding changes till 2019-03-01
  CHANGELOG
Due: none

check if user_info is an array before counting
  include/api.php
Due: backend

Sent update mails to administrators only once
  src/Core/Update.php
Due: source

We have to fetch the data this way
  src/Core/Update.php
Due: source

Take void return into account
  include/api.php
Due: backend

Fix allow_cid variable type in mod/network
  mod/network.php
Due: backend

Word-wrap for long lines
  view/theme/frio/css/style.css
Due: none

wrong intend
  view/theme/frio/css/style.css
Due: none

Reduce the default maximum load for the worker to 20
  mod/admin.php
  src/Core/Worker.php
Due: source, backend

Added value to settings.config.php
  config/settings.config.php
Due: none

Added warning about an empty key
  src/Util/Crypto.php
Due: source

Added forgotten "use"
  src/Util/Crypto.php
Due: source

Avoid transmitting a deletion message when we don't have a key
  src/Protocol/ActivityPub/Transmitter.php
  src/Util/Crypto.php
Due: source

Restore module custom title display
  src/App.php
Due: source

Add default value for config.sitename in App::initHead
  src/App.php
Due: source

Fix relationship direction in Widget/ContactBlock
  src/Content/Widget/ContactBlock.php
Due: source

Fixing redis cachekey
  src/Core/Cache/RedisCacheDriver.php
Due: source

Fixing redis cachekey
  src/Core/Lock/AbstractLockDriver.php
  src/Core/Lock/CacheLockDriver.php
  src/Core/Lock/DatabaseLockDriver.php
  src/Core/Lock/ILockDriver.php
  tests/src/Core/Lock/DatabaseLockDriverTest.php
  tests/src/Core/Lock/LockTest.php
Due: source, tests

Improved contact update from probe
  src/Model/Contact.php
Due: source

Fix namespace ambiguity about Model\Queue in Worker\Delivery
  src/Worker/Delivery.php
Due: source

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
