Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

removed unneded line
  src/Util/JsonLD.php
Due: source

Newly generated messages
  util/messages.po
Due: none

Relocated function
  src/Model/User.php
  src/Protocol/ActivityPub.php
Due: source

Changed json-ld library
  composer.json
  composer.lock
Due: none

Changed constant name to keep compatible with PHP 5
  src/Protocol/ActivityPub.php
Due: source

Some changes for better code quality
  src/Model/Item.php
  src/Model/Profile.php
  src/Model/Term.php
  src/Module/Outbox.php
  src/Module/Owa.php
  src/Network/Probe.php
  src/Protocol/ActivityPub.php
Due: source

Superfluous, since we only fetch this data
  src/Protocol/ActivityPub.php
Due: source

Renamed
  src/Model/APContact.php
  src/Protocol/ActivityPub.php
  src/Util/HTTPSignature.php
  src/Util/LDSignature.php
Due: source

Object instead of Display
  index.php
  mod/display.php
  src/Module/Object.php
Due: source, backend

There is now "rawContent" for technical endpoints
  index.php
  src/Module/Followers.php
  src/Module/Following.php
  src/Module/Inbox.php
  src/Module/Object.php
  src/Module/Outbox.php
Due: source

Correct content type
  mod/profile.php
  src/Protocol/ActivityPub.php
Due: source, backend

replace session return url by static pages
  mod/follow.php
  mod/unfollow.php
Due: backend

replace session return url by static pages
  mod/contacts.php
  mod/follow.php
  mod/message.php
Due: backend

Profile update and some more is now added
  src/Protocol/ActivityPub.php
  src/Worker/ProfileUpdate.php
Due: source

Avoiding a notice
  index.php
Due: none

"rawcontent" is now a baseobject method
  index.php
  src/BaseModule.php
Due: source

+ is *
  src/Protocol/ActivityPub.php
Due: source

AP hast to be enabled here as well
  mod/item.php
Due: backend

Profile update is now done via APDelivery
  src/Protocol/ActivityPub.php
  src/Worker/APDelivery.php
  src/Worker/Delivery.php
  src/Worker/ProfileUpdate.php
Due: source

Issue 5798: We had displayed the author as owner
  include/api.php
Due: backend

Issue 5797: Retweets are now displayed again via API
  include/api.php
Due: backend

Account deletion could work now.
  src/Protocol/ActivityPub.php
  src/Worker/APDelivery.php
  src/Worker/Notifier.php
Due: source

AP contacts are now tagged upon commenting
  mod/item.php
Due: backend

Repeated posts from OStatus, ActitivyPub and Twitter are now shown as is
  include/api.php
Due: backend

The API test should now complete again
  tests/ApiTest.php
Due: tests

Avoid notice
  src/Util/JsonLD.php
Due: source

Normalize the mentions and ensure to not have duplicates
  src/Model/Term.php
Due: source

mod/message return to conversation if message deleted
  mod/message.php
Due: backend

Fix missing mentions
  src/Model/Term.php
Due: source

removed obsolete package
  composer.lock
Due: none

Code Standards + return path for \!local_user() and cancel
  mod/message.php
  mod/unfollow.php
Due: backend

syntax typo
  mod/message.php
Due: backend

wrong var name - conversation not found
  mod/message.php
Due: backend

Issue 5811: "objects" instead of "object"
  mod/display.php
  src/Model/Item.php
  src/Module/Objects.php
  src/Protocol/ActivityPub.php
  src/Protocol/Diaspora.php
  src/Protocol/OStatus.php
Due: source, backend

Renamed class
  src/Module/Objects.php
Due: source

Fix spaces in Cache\Memcachedriver
  src/Core/Cache/MemcacheCacheDriver.php
Due: source

Update composer binary to version 1.7.2
  bin/composer.phar
Due: binary

Upgrade Composer dependencies
  composer.json
  composer.lock
Due: none

AP class will be split in processor, receiver and transmitter
  src/Module/Followers.php
  src/Module/Following.php
  src/Module/Outbox.php
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Functionality is now split
  include/api.php
  mod/dfrn_confirm.php
  mod/profile.php
  src/Model/Contact.php
  src/Module/Inbox.php
  src/Module/Objects.php
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/APDelivery.php
  src/Worker/Notifier.php
  src/Worker/ProfileUpdate.php
Due: source, backend
