Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

use cache for basepath
  src/App.php
Due: source

own function for processing data of directory entries
  mod/directory.php
  view/templates/directory_header.tpl
  view/theme/frio/css/style.css
  view/theme/frio/templates/directory_header.tpl
Due: backend

check if value is set get basepath with config instead cache
  src/App.php
  src/Core/Config/Adapter/JITConfigAdapter.php
  src/Core/Config/Configuration.php
  src/Core/Worker.php
Due: source

Fixing value check for configuration
  src/Core/Config/Adapter/JITConfigAdapter.php
  src/Core/Config/Adapter/JITPConfigAdapter.php
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
  src/Core/Config/Configuration.php
  src/Core/Worker.php
Due: source

Fixing saveLog()
  src/Core/Worker.php
Due: source

forumdirectory: some polishing
  mod/directory.php
  view/templates/directory_header.tpl
  view/theme/frio/templates/directory_header.tpl
Due: backend

forumdirectory: type is array
  mod/directory.php
Due: backend

Preload Adapter Fix
  src/Core/Config/Adapter/JITConfigAdapter.php
  src/Core/Config/Adapter/JITPConfigAdapter.php
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
  src/Core/Config/Cache/ConfigCache.php
Due: source

negative set
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
Due: source

tmp alert
  view/theme/frio/style.php
Due: none

[frio] Change comment expand icons to carets
  view/theme/frio/templates/wall_thread.tpl
Due: none

set config_loaded with uid
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
Due: source

bugfix
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
Due: source

revert style.php changes
  view/theme/frio/style.php
Due: none

add --no-dev parameter to composer
  doc/Install.md
Due: none

correct information about changing domain name
  doc/Install.md
Due: none

add --no-dev parameter to composer
  doc/Update.md
Due: none

added forgotten linebreak
  doc/Install.md
Due: none

DE translation update THX Ulf Rompe
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

Avoid memory issue in exception
  src/Util/JsonLD.php
Due: source

draft for 2019.03
  CHANGELOG
Due: none

indentation
  CHANGELOG
Due: none

updated the credits
  CREDITS.txt
Due: none

Welcome 2019.03-rc
  VERSION
  boot.php
Due: none

version is RC now
  CHANGELOG
Due: none

FR translation
  CHANGELOG
Due: none

update FR translations THX hypolite
  view/lang/fr/messages.po
  view/lang/fr/strings.php
Due: none

typo
  CHANGELOG
Due: none

Fixing rendertime
  src/Util/Profiler.php
Due: source

adding test
  src/Util/Profiler.php
  tests/src/Util/ProfilerTest.php
Due: source, tests

bugfix test
  tests/src/Util/ProfilerTest.php
Due: tests

Change iframe address
  doc/Quick-Start-groupsandpages.md
Due: none

Change iframe address
  doc/de/Quick-Start-groupsandpages.md
Due: none

Issue 6679: Quick fix
  src/App.php
Due: source

Updated composer lockfile
  composer.lock
Due: none

typos
  CHANGELOG
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

Changed log calls
  src/Core/Worker.php
  src/Model/Contact.php
Due: source

Reverted test stuff
  src/Core/Worker.php
Due: source
