Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Check $profile variable in mod/match
  mod/match.php
Due: backend

Worker: Don't spawn without jobs
  src/Core/Worker.php
  src/Worker/Notifier.php
Due: source

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

Refetch new jobs only once per execution loop
  src/Core/Worker.php
Due: source

Add defaults() to term parameter in mod/filerm
  mod/filerm.php
Due: backend

Add defaults() to url parameter in mod/follow
  mod/follow.php
Due: backend

Add missing fields to Register::getPending()
  src/Model/Register.php
Due: source

Fix typo to ensure config backward compatibility in frio/php/scheme.php
  view/theme/frio/php/scheme.php
Due: none

Add frio.scheme pconfig value type check
  view/theme/frio/php/default.php
Due: none

Add check for EXIF data existence in Object/Image
  src/Object/Image.php
Due: source

Remove unnecessary @throws tag in Util\Network
  src/Util/Network.php
Due: source

Add server block provision to Diaspora::postAllow
  src/Protocol/Diaspora.php
Due: source

Update autolinker regular expression in Text\BBCode
  src/Content/Text/BBCode.php
Due: source

Set Timezone to 'UTC' for every Logger
  src/Factory/LoggerFactory.php
Due: source

Fix implicit mention detection regular expression flags in ActivityPub\Processor
  src/Protocol/ActivityPub/Processor.php
Due: source

Remove test code in ActivityPub\Processor
  src/Protocol/ActivityPub/Processor.php
Due: source

Add tests for autolinker in BBCde::convert
  tests/src/Content/Text/BBCodeTest.php
Due: tests

Fix autolinker regular expression to match test data
  src/Content/Text/BBCode.php
Due: source

Avoid double update runs
  src/Core/Update.php
Due: source

added phpdoc
  src/Core/Update.php
Due: source

replaced duplicate code with method
  src/Core/Update.php
Due: source

Revert "Avoid double update runs"
  src/Core/Update.php
Due: source

Remove item query limit when using file param in mod/network
  mod/network.php
Due: backend

Define absolute paths for various includes
  include/items.php
  src/BaseObject.php
  src/Render/FriendicaSmartyEngine.php
Due: source, backend

Move autolink regex in Util\Strings
  src/Content/Text/BBCode.php
  src/Util/Strings.php
Due: source

Add new Content\Text\MarkdownParser
  src/Content/Text/Markdown.php
  src/Content/Text/MarkdownParser.php
Due: source

Add test for Text\Markdown::convert
  tests/datasets/content/text/markdown/bug-6633.html
  tests/datasets/content/text/markdown/bug-6633.md
  tests/src/Content/Text/MarkdownTest.php
Due: tests

Fix for the automatic mentioning
  src/Object/Post.php
Due: source

Follow up to 6834: Don't store item when the server is blocked
  src/Model/Item.php
Due: source

Fix fatal error when using Logger::devLog
  src/Factory/DependencyFactory.php
Due: source

Fix mentions - again
  src/Object/Post.php
Due: source

IT translations THX Fabio
  view/lang/it/messages.po
  view/lang/it/strings.php
Due: none

EN US translation update THX AndyH3
  view/lang/en-us/messages.po
  view/lang/en-us/strings.php
Due: none

EN GB translation update THX AndyH3
  view/lang/en-gb/messages.po
  view/lang/en-gb/strings.php
Due: none

Remove new lines from domain name part of autolinker regular expression in Util\Strings
  src/Util/Strings.php
Due: source

Add tests for bug #6857
  tests/src/Content/Text/BBCodeTest.php
Due: tests

Skip update if already done
  src/Core/Update.php
Due: source

Add Logger entry
  src/Core/Update.php
Due: source

Adapt Logging messages
  src/Core/Update.php
Due: source
