Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Partly Reverted #6583
  src/Worker/RemoveContact.php
Due: source

Separate config options to display the worker jobs per minute
  config/defaults.config.php
  src/Core/Worker.php
Due: source

Improved indexes for worker queue processing
  config/dbstructure.config.php
Due: none

Bugfix: remove useless </a> for categories from wall_thread template
  view/theme/frio/css/style.css
  view/theme/frio/templates/search_item.tpl
  view/theme/frio/templates/wall_thread.tpl
Due: none

clarification
  mod/admin.php
Due: backend

The automatic follow request is currently deactivated, due to false notifications
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Add missing App parameter in addon (un)install calls
  src/Core/Addon.php
Due: source

Hopefully final fix for false notifications
  src/Model/Item.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Refactor ConfigMockTrait to mocked ConfigCache
  src/Core/Config.php
  src/Core/Config/AbstractDbaConfigAdapter.php
  src/Core/Config/ConfigCache.php
  src/Core/Config/IConfigAdapter.php
  src/Core/Config/IConfigCache.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Config/PreloadConfigAdapter.php
  tests/Util/AppMockTrait.php
  tests/Util/ConfigMockTrait.php
  tests/Util/RendererMockTrait.php
  tests/src/App/ModeTest.php
  tests/src/BaseObjectTest.php
  tests/src/Core/Cache/ArrayCacheDriverTest.php
  tests/src/Core/Cache/CacheTest.php
  tests/src/Core/Cache/DatabaseCacheDriverTest.php
  tests/src/Core/Cache/MemcacheCacheDriverTest.php
  tests/src/Core/Cache/MemcachedCacheDriverTest.php
  tests/src/Core/Cache/RedisCacheDriverTest.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/Console/ConfigConsoleTest.php
  tests/src/Core/Lock/ArrayCacheLockDriverTest.php
  tests/src/Core/Lock/LockTest.php
  tests/src/Core/Lock/MemcacheCacheLockDriverTest.php
  tests/src/Core/Lock/MemcachedCacheLockDriverTest.php
  tests/src/Core/Lock/RedisCacheLockDriverTest.php
  tests/src/Core/Lock/SemaphoreLockDriverTest.php
  tests/src/Database/DBStructureTest.php
Due: source, tests

Add PortableContact constants
  mod/admin.php
  src/Protocol/PortableContact.php
  src/Worker/DiscoverPoCo.php
Due: source, backend

Add missing non-empty data condition to Protocol\PortableContact
  src/Protocol/PortableContact.php
Due: source

Improved worker performance (changed keys, changed queries)
  config/dbstructure.config.php
  src/Core/Worker.php
  src/Worker/OnePoll.php
Due: source

Cache config adapter connection status to reduce number of calls to DBA::isConnected()
  src/Core/Config/AbstractDbaConfigAdapter.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Config/PreloadConfigAdapter.php
Due: source

Add alias field to ActivityPub contacts
  src/Model/APContact.php
Due: source

Add alias field to mod/crepair
  mod/crepair.php
  view/templates/crepair.tpl
  view/theme/frio/templates/crepair.tpl
Due: backend

Remove implicit mentions from incoming ActivityPub messages
  src/Protocol/ActivityPub/Processor.php
Due: source

Add explicit_mentions feature setting
  src/Content/Feature.php
Due: source

Toggle explicit mentions in comment boxes with explicit_mentions config
  src/Object/Post.php
Due: source

Prepend implicit mentions to outgoing ActivityPub messages
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Prepend implicit author mentions in outgoing Diaspora comments
  src/Protocol/Diaspora.php
Due: source

Add query path capabilities to /itemsource
  src/Module/Itemsource.php
Due: source

Add "delivery done" label
  src/Object/Post.php
  view/templates/sub/delivery_count.tpl
  view/theme/frio/templates/sub/delivery_count.tpl
Due: source

Fix delivery data increment in APDelivery
  src/Worker/APDelivery.php
Due: source

Update base translation file
  view/lang/C/messages.po
Due: none

Restore legacy REGISTER_* constants for local config backward compatibility
  boot.php
Due: none

fix typo
  src/Model/Storage/Filesystem.php
Due: source

Add context to some logger calls in ActivityPub\Processor
  src/Protocol/ActivityPub/Processor.php
Due: source

Furtner improval of the worker speed
  config/defaults.config.php
  mod/worker.php
  src/Core/Worker.php
  src/Worker/Cron.php
Due: source, backend

Changed config default description
  config/defaults.config.php
Due: none

Fix for possible notice "Undefined offset: 0"
  mod/friendica.php
Due: backend

Improve speed on local community page
  mod/community.php
Due: backend

regen messages.po
  view/lang/C/messages.po
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

DE translation update
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

img tag documentation update
  doc/BBCode.md
  doc/de/BBCode.md
Due: none

Don't store multiple follow request from a single person
  src/Model/Item.php
  src/Model/User.php
Due: source

Adding ConfigCacheTest
  src/Core/Config/AbstractDbaConfigAdapter.php
  src/Core/Config/ConfigCache.php
  tests/src/Core/Config/ConfigCacheTest.php
Due: source, tests

Removed test output
  src/Model/Item.php
Due: source

Adding ConfigCacheLoaderTest
  src/Core/Config/ConfigCacheLoader.php
  tests/Util/VFSTrait.php
  tests/datasets/config/.htconfig.test.php
  tests/datasets/config/local.config.php
  tests/datasets/config/local.ini.php
  tests/src/Core/Config/ConfigCacheLoaderTest.php
Due: source, tests

The function moved from the user to the contact class
  src/Model/Contact.php
  src/Model/Item.php
  src/Model/User.php
Due: source
