Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Location, coord and app are now processed as well
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

The outbox is now more complete / No more duplicates in the receiver array
  src/Protocol/ActivityPub/Transmitter.php
Due: source

FollowUp Acctlink move
  src/Module/Acctlink.php
Due: source

Type hinting & call bugfixing
  src/Core/Console/AutomaticInstallation.php
  src/Core/Install.php
Due: source

Remove whitespace clearing around code tags
  src/Content/Text/BBCode.php
Due: source

Add HTML result boxes to mod/babel
  mod/babel.php
Due: backend

Replace System::baseUrl() by App->getBaseURL() in mod/register
  boot.php
  mod/register.php
Due: backend

Fix ignored show_in_notification_page parameter in notification()
  include/enotify.php
Due: backend

Fix various spelling mistakes
  mod/admin.php
  src/Database/DBA.php
  src/Model/User.php
Due: source, backend

Create Model\Register
  src/Model/Register.php
  src/Model/User.php
Due: source

Use Model\Register methods in modules
  mod/admin.php
  mod/invite.php
  mod/ping.php
  mod/register.php
  mod/regmod.php
  src/Model/User.php
Due: source, backend

ActivityPub: Rudimentary support for videos
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

code standards + fixing navigation links to /contact/...
  mod/allfriends.php
  mod/common.php
  mod/crepair.php
  mod/dirfind.php
  mod/group.php
  src/Module/Contact.php
  view/theme/frio/theme.php
Due: source, backend

Fix batch action query + Fix Namespace import
  mod/crepair.php
  mod/dirfind.php
  src/Module/Contact.php
Due: source, backend

Fix batch action choice - All Actions for one contact were taken before
  src/Module/Contact.php
Due: source

Add Support for relativeDateTime in future + update Admin user waiting for deleting table header
  mod/admin.php
  src/Util/Temporal.php
Due: source, backend

Fix remaining instances of "contacts"
  src/Model/Group.php
  src/Module/Contact.php
Due: source

Normalize uses of defaults() in Module\Contact
  src/Module/Contact.php
Due: source

Replace unwarranted uses of $a->data['contact']
  src/Module/Contact.php
Due: source

Replace string fields by array in Module\Contact
  src/Module/Contact.php
Due: source

Update formatting of Module\Contact
  src/Module/Contact.php
Due: source

Fix wrong use statement in mod/update_contacts
  mod/update_contacts.php
Due: backend

Poddibility to defer worker execution
  boot.php
  config/dbstructure.json
  src/Core/Worker.php
Due: source

added links to alternative ways to install Friendica to the docs
  INSTALL.txt
  doc/Install.md
  doc/de/Install.md
Due: none

use the right bracket
  INSTALL.txt
Due: none

ypot
  INSTALL.txt
Due: none

Improve transition from previous behavior
  mod/register.php
  mod/regmod.php
  src/Model/User.php
Due: source, backend

Signed Diaspora posts should now be stored more reliable
  boot.php
  config/dbstructure.json
  database.sql
  src/Model/Item.php
  src/Protocol/Diaspora.php
Due: source

Fix namespace usage in mod/group
  mod/group.php
Due: backend

Fix notices in Network\Probe
  src/Network/Probe.php
Due: source

Fix notices in include/enotify
  include/enotify.php
  src/Database/DBStructure.php
Due: source, backend

Avoid endless loop at magic auth
  src/Model/Profile.php
Due: source

Onepoll hadn't polled anymore / small relocation in zrlinit for better logging
  src/Model/Profile.php
  src/Worker/OnePoll.php
Due: source

Fix Issue #5896 by setting static return for edit_post to display item page (kind of revert parts of #5774)
  mod/editpost.php
  src/Object/Post.php
Due: source, backend

Fix notice in Worker\Delivery
  src/Worker/Delivery.php
Due: source

Fix notices in Parse URL feature
  mod/parse_url.php
  src/Util/ParseUrl.php
Due: source, backend

Fix undefined index: id in Protocol\Diaspora
  src/Protocol/Diaspora.php
Due: source

Fix Undefined index: timezone in Protocol\Diaspora
  src/Protocol/Diaspora.php
Due: source

Fix Undefined index: photo in ActivityPub/Receiver
  src/Protocol/ActivityPub/Receiver.php
Due: source

Remove unused parameter $selected in Model\Item::fieldlist
  src/Model/Item.php
Due: source
