Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Improve global open/close functions in main.js
  view/js/main.js
Due: none

[frio] Thread display redesign
  view/theme/frio/css/style.css
  view/theme/frio/js/textedit.js
  view/theme/frio/templates/comment_item.tpl
  view/theme/frio/templates/search_item.tpl
  view/theme/frio/templates/wall_thread.tpl
Due: none

[frio] Use text-align instead of flex display for submit buttons
  view/theme/frio/css/style.css
Due: none

[frio] Prevent unwanted textaera resizing in comment forms
  view/theme/frio/css/style.css
Due: none

Update translation strings
  view/lang/C/messages.po
Due: none

[frio] Remove .btn-primary from saved search button
  view/theme/frio/templates/searchbox.tpl
Due: none

DE translation update THX Ulf Rompe
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

EN US translation update THX hypolite
  view/lang/en-us/messages.po
  view/lang/en-us/strings.php
Due: none

update FR translations THX hypolite
  view/lang/fr/messages.po
  view/lang/fr/strings.php
Due: none

New scheduler mechanism
  src/Core/Worker.php
Due: source

friendica-6667 Installer needs to check fileinfo module
  src/Core/Installer.php
  tests/src/Core/InstallerTest.php
Due: source, tests

Introducing Profiler
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  include/api.php
  index.php
  src/App.php
  src/Content/Text/BBCode.php
  src/Content/Text/Markdown.php
  src/Core/Addon.php
  src/Core/Cache.php
  src/Core/Console/AutomaticInstallation.php
  src/Core/Installer.php
  src/Core/Logger.php
  src/Core/Renderer.php
  src/Core/Theme.php
  src/Core/Worker.php
  src/Database/DBA.php
  src/Factory/ProfilerFactory.php
  src/Module/Install.php
  src/Object/Image.php
  src/Util/Network.php
  src/Util/Profiler.php
  tests/DatabaseTest.php
Due: source, backend, binary, tests

Dependency of callstack moved one layer up
  src/App.php
  src/Content/Text/BBCode.php
  src/Content/Text/Markdown.php
  src/Core/Addon.php
  src/Core/Cache.php
  src/Core/Logger.php
  src/Core/Renderer.php
  src/Core/Theme.php
  src/Database/DBA.php
  src/Object/Image.php
  src/Util/Network.php
  src/Util/Profiler.php
Due: source

adding parameter to App
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  index.php
Due: binary

adding parameter to App
  tests/include/ApiTest.php
  tests/src/Database/DBATest.php
  tests/src/Database/DBStructureTest.php
Due: tests

[frio] Add margin between comment submit buttons and preview
  view/theme/frio/templates/comment_item.tpl
Due: none

Adding composer & tests
  composer.json
  composer.lock
  src/Util/Profiler.php
  tests/src/Util/ProfilerTest.php
Due: source, tests

[frio] Hide fake comment form when comment form isn't present
  view/theme/frio/templates/wall_thread.tpl
Due: none

refactoring & test fixing
  composer.json
  src/Core/Logger.php
  src/Util/Profiler.php
  tests/src/Core/Console/ConsoleTest.php
Due: source, tests

Excluding Profiler from Loglines (better using the class above)
  src/Factory/LoggerFactory.php
Due: source

removed wrong log-output
  src/Util/Profiler.php
Due: source

fixed line intends
  src/Core/Logger.php
Due: source

fixed last uppercase composer entry
  composer.json
Due: none

The number of workers per priority is now calculated dynamically
  src/Core/Worker.php
Due: source

fixing reset()
  src/Util/Profiler.php
Due: source

fix magic links for item mentions
  src/Model/Term.php
Due: source

Code cleanup
  mod/worker.php
  src/Core/Worker.php
Due: source, backend

Added function description
  src/Core/Worker.php
Due: source

Refactoring Logging to use Configuration
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  index.php
  src/App.php
  src/Core/Config.php
  src/Core/Config/Cache/ConfigCache.php
  src/Core/Logger.php
  src/Factory/DBFactory.php
  src/Factory/LoggerFactory.php
  tests/include/ApiTest.php
  tests/src/Core/Config/Cache/ConfigCacheTest.php
Due: source, binary, tests

renamed Logger::setLogger() to Logger::init()
  src/Core/Config/Adapter/IConfigAdapter.php
  src/Core/Config/Adapter/IPConfigAdapter.php
  src/Core/Config/Adapter/JITConfigAdapter.php
  src/Core/Config/Adapter/JITPConfigAdapter.php
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
  src/Core/Config/Configuration.php
  src/Core/Config/PConfiguration.php
  src/Core/Logger.php
  src/Factory/LoggerFactory.php
  tests/src/Core/Config/ConfigurationTest.php
  tests/src/Core/Config/PConfigurationTest.php
Due: source, tests

performance improvement in case of db-load
  src/Core/Config/Configuration.php
  src/Core/Config/PConfiguration.php
Due: source

bugfixing adapter get() in case of no connection
  src/Core/Config/Adapter/IConfigAdapter.php
  src/Core/Config/Adapter/IPConfigAdapter.php
  src/Core/Config/Adapter/JITPConfigAdapter.php
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
  src/Core/Logger.php
Due: source

Adding DependencyFactory
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  index.php
  src/Factory/DependencyFactory.php
Due: source, binary

[frio] Reduce replies right padding
  view/theme/frio/css/style.css
Due: none

Refactored DependencyFactory for Profiler
  bin/daemon.php
  include/api.php
  src/App.php
  src/Factory/DBFactory.php
  src/Factory/DependencyFactory.php
  src/Factory/LoggerFactory.php
  src/Factory/ProfilerFactory.php
  src/Util/Profiler.php
  tests/include/ApiTest.php
  tests/src/Database/DBATest.php
  tests/src/Database/DBStructureTest.php
  tests/src/Util/ProfilerTest.php
Due: source, backend, binary, tests

Fixing tests
  tests/Util/AppMockTrait.php
  tests/Util/DBStructureMockTrait.php
  tests/src/App/ModeTest.php
  tests/src/BaseObjectTest.php
  tests/src/Core/Cache/CacheTest.php
  tests/src/Core/Cache/MemcacheCacheDriverTest.php
  tests/src/Core/Cache/MemcachedCacheDriverTest.php
  tests/src/Core/Cache/RedisCacheDriverTest.php
  tests/src/Core/Config/ConfigurationTest.php
  tests/src/Core/Config/PConfigurationTest.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/Console/ConfigConsoleTest.php
  tests/src/Core/Console/ConsoleTest.php
  tests/src/Core/Lock/LockTest.php
  tests/src/Core/Lock/MemcacheCacheLockDriverTest.php
  tests/src/Core/Lock/MemcachedCacheLockDriverTest.php
  tests/src/Core/Lock/RedisCacheLockDriverTest.php
  tests/src/Core/Lock/SemaphoreLockDriverTest.php
Due: tests

removing comment
  index.php
Due: none

Improved indexes
  config/dbstructure.config.php
Due: none

Bugfixing index.php
  index.php
  src/App.php
Due: source
