Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Don't show "follow" activity
  include/conversation.php
Due: backend

Issue-6329: Prevent double encoding
  src/Model/Profile.php
  src/Module/Contact.php
Due: source

Remove useless intermediate network_name variable in include/api
  include/api.php
Due: backend

Fix formatting in Util\Strings
  src/Util/Strings.php
Due: source

Normalize uses of Strings::formatNetworkName to $network_link
  mod/hovercard.php
  src/Model/Profile.php
  src/Module/Contact.php
  view/templates/hovercard.tpl
  view/templates/profile_vcard.tpl
  view/templates/vcard-widget.tpl
  view/theme/duepuntozero/templates/profile_vcard.tpl
  view/theme/frio/templates/vcard-widget.tpl
  view/theme/quattro/templates/profile_vcard.tpl
  view/theme/vier/templates/profile_vcard.tpl
Due: source, backend

Delete updatetpl.py
  bin/dev/updatetpl.py
Due: binary

Delete friendica-to-smarty-tpl.py
  bin/dev/friendica-to-smarty-tpl.py
Due: binary

Fix mods/README.md format
  mods/README.md
Due: none

Only assign a uid to the profile if not defined by now
  mod/display.php
Due: backend

Avoid a WSOD after PR 6315
  index.php
Due: none

Replace latin-1 by latin1 in charset detection
  src/Util/ParseUrl.php
Due: source

Warning and notice fixed
  src/Content/Text/HTML.php
  src/Protocol/ActivityPub/Processor.php
Due: source

Fix screenshots URLs in frio readme
  view/theme/frio/README.md
Due: none

Allow theme setting in module
  src/App.php
Due: source

[frio] Fix minimal layout
  view/theme/frio/css/style.css
Due: none

Remove useless trailing slash in admin/addon_details.tpl
  view/templates/admin/addon_details.tpl
Due: none

Use minimal mode to change site theme settings
  mod/admin.php
  view/templates/admin/site.tpl
  view/theme/frio/templates/admin/site.tpl
Due: backend

Make NOTIFY_* constant values human-readable
  boot.php
Due: none

Fix unread message conversation title display
  mod/message.php
  view/theme/frio/templates/mail_list.tpl
Due: backend

Replace q() with DBA methods, fix code style
  mod/message.php
  mod/ping.php
  src/Protocol/Diaspora.php
Due: source, backend

Add parent to private message notifications
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
Due: source

Add notification clear on private message display
  mod/message.php
Due: backend

Remove fake private message notifications from ping output
  mod/ping.php
Due: backend

Unescape admin warning text
  view/templates/admin/summary.tpl
  view/theme/frio/templates/admin/summary.tpl
Due: none

Normalize config file line endings to LF
  config/addon-sample.config.php
  config/defaults.config.php
  config/local-sample.config.php
  config/settings.config.php
Due: none

Unescape plaintext email body
  view/templates/email_notify_text.tpl
Due: none

[Composer] Added missing dependency ext-openssl
  composer.json
Due: none

Use User::updatePasswordHashed directly when re-hashing a password
  src/Model/User.php
Due: source

Increase auto-generated passwords to 12 chars + leading capital
  src/Model/User.php
Due: source

Add password checks in User::updatePassword
  src/Model/User.php
Due: source

Update usages of User::updatePassword
  mod/settings.php
  src/Core/Console/NewPassword.php
Due: source, backend

Unescape $invite_desc in follow/register templates
  view/templates/auto_request.tpl
  view/templates/dfrn_request.tpl
  view/templates/register.tpl
  view/theme/frio/templates/auto_request.tpl
  view/theme/frio/templates/dfrn_request.tpl
  view/theme/frio/templates/register.tpl
Due: none

Unescape profiles template variables
  view/templates/contact_edit.tpl
  view/theme/frio/templates/contact_edit.tpl
  view/theme/frio/templates/profile_entry.tpl
  view/theme/vier/templates/contact_edit.tpl
Due: none

Bugfix - the remote user also has magicLinks again
  src/Model/Contact.php
Due: source

Unescape $prevlink and $nextlink template variables
  view/templates/photo_view.tpl
  view/theme/quattro/templates/photo_view.tpl
  view/theme/vier/templates/photo_view.tpl
Due: none

Updated RC version name
  VERSION
Due: none

Use nickname instead of email for Login Name
  mod/admin.php
  mod/lostpass.php
  src/Model/User.php
Due: source, backend

Use preg_quote instead of str_replace in include/items
  include/items.php
Due: backend

Unescape invite_desc template variable
  mod/dfrn_request.php
  view/templates/register.tpl
  view/theme/frio/templates/register.tpl
Due: backend
