Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Several default features are now in the core
  include/conversation.php
  mod/network.php
  mod/photos.php
  mod/ping.php
  mod/search.php
  src/Content/Feature.php
  src/Content/ForumManager.php
  src/Content/Text/HTML.php
  src/Content/Widget.php
  src/Object/Post.php
Due: source, backend

Possibly fix test
  tests/include/ApiTest.php
Due: tests

Another try to make tests run again
  tests/include/ApiTest.php
Due: tests

The expiry of conversations can now be configured in the admin panel
  mod/admin.php
  view/templates/admin/site.tpl
Due: backend

14 days
  mod/admin.php
Due: backend

Update sample-nginx.config
  mods/sample-nginx.config
Due: none

To safe or not so save, that is the question
  mod/admin.php
Due: backend

Update FAQ.md
  doc/FAQ.md
Due: none

Change Worker to use only MemFree in isMinMemoryReached
  src/App.php
Due: source

AP: Security check against forged "create" activities
  src/Protocol/ActivityPub/Receiver.php
Due: source

One space too much
  src/Protocol/ActivityPub/Receiver.php
Due: source

Sanitize the OEmbed data before processing it
  src/Content/OEmbed.php
  src/Object/OEmbed.php
Due: source

"viewcontacts" hadn't displayed the AP contacts
  mod/viewcontacts.php
Due: backend

Fix SQL grammar error: ORDER BY clause is not in SELECT
  mod/profile.php
Due: backend

Frio: Add collapsable panel-groups for admin/site
  view/theme/frio/css/mod_admin.css
  view/theme/frio/templates/admin/site.tpl
Due: none

Save last collapsed panel + restore to open and scroll to top of panel
  view/theme/frio/templates/admin/site.tpl
Due: none

Only store last opened panel for one reload (the POST reload after a submit)
  view/theme/frio/templates/admin/site.tpl
Due: none

Add new REGISTER_INVITATION value to mod/friendica output
  mod/friendica.php
Due: backend

Fix typo in comment in mod/redir
  mod/redir.php
Due: backend

Replace remaining occurrences of "0001-01-01" with DBA::NULL_DATE
  mod/hovercard.php
  mod/profiles.php
  src/Model/Contact.php
  src/Model/GContact.php
  src/Model/Profile.php
  src/Protocol/DFRN.php
Due: source, backend

Move DFRN::birthdayEvent() to Event::createBirthday
  src/Model/Event.php
  src/Protocol/DFRN.php
Due: source

Add contact conditions to getBirthdays/updateBirthdays
  src/Model/Contact.php
  src/Model/Profile.php
Due: source

[Composer] Add missing PHP extension dependencies
  composer.json
  composer.lock
Due: none

Remove useless rawurlencode calls for building hashtag bbcode
  include/items.php
  mod/photos.php
  mod/tagger.php
  src/Model/Item.php
  src/Model/Term.php
  src/Protocol/Feed.php
  src/Protocol/OStatus.php
Due: source, backend

Remove stored URL from hashtag terms
  mod/tagger.php
  src/Model/Term.php
Due: source, backend

Normalize BBCode Hashtag replacement
  src/Content/Text/BBCode.php
Due: source

Checking for blocked user does now check for blocked domain as well
  src/Model/Contact.php
Due: source

Don't deliver to blocked domains
  src/Worker/Delivery.php
Due: source

Block AP delivery
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Some more AP blocking
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fix formatting in mod/ostatus_subscribe
  mod/ostatus_subscribe.php
Due: backend

Prevent fatal error when $friends isn't an array
  mod/ostatus_subscribe.php
Due: backend

Protect OAuthException declaration to avoid conflict with php-pecl-oauth
  library/OAuth1.php
Due: none

Fix ignore link showing for anonymous users
  src/Object/Post.php
Due: source

Remove unused parameter $save in HTML::search
  mod/network.php
  mod/search.php
  src/Content/Text/HTML.php
Due: source, backend

Urlencode /network file parameter
  include/conversation.php
  mod/filerm.php
  mod/network.php
Due: backend

Fix display of Connect/Disconnect links on contact page
  src/Module/Contact.php
Due: source

Change saving active panel from js localStorage to via html #anker
  mod/admin.php
  view/theme/frio/templates/admin/site.tpl
Due: backend

Fixing redirection problems with parameters
  src/Network/CurlResult.php
Due: source

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
