Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

fix isssue if friendica is installed into a subdirectory
  src/App.php
Due: source

Fix greedy regular expression and move code block escaping after tag extraction in Model\Item
  src/Model/Item.php
Due: source

Ignore code blocks when extracting tags
  src/Content/Text/BBCode.php
Due: source

Add result window for item tags in mod/babel
  mod/babel.php
Due: backend

Don't auto mention yourself or forums, don't do it in the firstlevel post
  src/Object/Post.php
  view/templates/comment_item.tpl
  view/theme/duepuntozero/templates/comment_item.tpl
  view/theme/quattro/templates/comment_item.tpl
  view/theme/vier/templates/comment_item.tpl
Due: source

warn in admin panel when legacy config is used
  mod/admin.php
Due: backend

Wrong constant used in docs
  doc/Config.md
Due: none

at two places
  doc/Config.md
Due: none

look in the config directory for the file
  mod/admin.php
Due: backend

Add new Module\Profile class
  mod/update_profile.php
  src/Module/Profile.php
Due: source, backend

Ap: Clarify message distribution for forum posts
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Remove mod/profile.php
  mod/profile.php
Due: backend

Add missing EOF newline in Module\Profile
  src/Module/Profile.php
Due: source

AP: Follow a note to receive all upcoming activities
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

AP: Debug option to deliver via AP first
  config/defaults.config.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/Notifier.php
Due: source

AP: Automatically send follow requests for reshared items
  src/Object/Post.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Links of mentioned contacts hadn't looked great on Mastodon
  src/Content/Text/BBCode.php
Due: source

Hopefully fixes a communicaton problem with Hubzilla
  src/Network/Probe.php
Due: source

attachment preview: frontend work (works with frio)
  mod/parse_url.php
  view/js/linkPreview.js
  view/theme/frio/css/style.css
  view/theme/frio/js/jot.js
  view/theme/frio/templates/jot-header.tpl
Due: backend

attachment preview: some backend work in the item module: - convert attachment to bbcode and - add the attachment bbcode to the item body
  mod/item.php
  view/js/linkPreview.js
Due: backend

attachment preview: mv some js functions from frio to the linkPreview to make linkPreview available for other themes
  view/js/linkPreview.js
  view/theme/frio/js/jot.js
Due: none

attachment preview: add destroy method to linkPreview.js
  view/js/linkPreview.js
Due: none

attachment preview: frio- initialize linkPreview on jot modal open (so we can use the linkPreview for new posts and edit post modal)
  view/theme/frio/js/jot.js
  view/theme/frio/js/modal.js
  view/theme/frio/js/textedit.js
  view/theme/frio/templates/jot-header.tpl
Due: none

update to the zh-cn translation THX ZhuChentan
  view/lang/zh-cn/messages.po
  view/lang/zh-cn/strings.php
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

DE translation update
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

Refactoring DBA-mocking tests - Reducing DB-dependencies - Creating DB-cache mocks - Creating DB-lock mocks - Switching to mocked dependencies for Cache/Lock/App
  src/Core/Lock/DatabaseLockDriver.php
  tests/Util/DBAMockTrait.php
  tests/Util/DateTimeFormatMockTrait.php
  tests/Util/DbaCacheMockTrait.php
  tests/Util/DbaLockMockTrait.php
  tests/src/BaseObjectTest.php
  tests/src/Core/Cache/CacheTest.php
  tests/src/Core/Cache/DatabaseCacheDriverTest.php
  tests/src/Core/Cache/MemcacheCacheDriverTest.php
  tests/src/Core/Cache/MemcachedCacheDriverTest.php
  tests/src/Core/Cache/MemoryCacheTest.php
  tests/src/Core/Cache/RedisCacheDriverTest.php
  tests/src/Core/Console/ConfigConsoleTest.php
  tests/src/Core/InstallerTest.php
  tests/src/Core/Lock/DatabaseLockDriverTest.php
  tests/src/Core/Lock/LockTest.php
  tests/src/Core/Lock/MemcacheCacheLockDriverTest.php
  tests/src/Core/Lock/MemcachedCacheLockDriverTest.php
  tests/src/Core/Lock/RedisCacheLockDriverTest.php
  tests/src/Core/Lock/SemaphoreLockDriverTest.php
  tests/src/Network/CurlResultTest.php
Due: source, tests

ConsoleTest is now a MockedTest
  tests/src/Core/Console/ConsoleTest.php
Due: tests

attachment preview: handle content with attachment bbcode inside (show preview of this attachment)
  view/js/linkPreview.js
Due: none

Markdown - fixed bug in local anchor links
  src/Content/Text/Markdown.php
Due: source

Markdown - fixed bug in local anchor links, optimized replacer
  src/Content/Text/Markdown.php
Due: source

attachment preview: some small corrections
  mod/parse_url.php
  view/js/linkPreview.js
  view/theme/frio/css/style.css
  view/theme/frio/js/jot.js
Due: backend

1) Refactor App->config[] into Core\Config
  mod/friendica.php
  src/App.php
  src/Core/Config.php
  src/Core/Config/IConfigAdapter.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Config/PreloadConfigAdapter.php
  src/Core/Console/AutomaticInstallation.php
  src/Core/Console/Config.php
  src/Core/Console/Typo.php
  src/Core/PConfig.php
  src/Database/DBA.php
Due: source, backend

2) Refactor App->config[] into Core\PConfig
  src/App.php
  src/Core/Config.php
  src/Core/Config/IConfigAdapter.php
  src/Core/Config/IPConfigAdapter.php
  src/Core/Config/JITPConfigAdapter.php
  src/Core/Config/PreloadPConfigAdapter.php
  src/Core/PConfig.php
Due: source

2) Refactor App->config[] into Core\PConfig
  src/Core/Config/JITPConfigAdapter.php
  src/Core/PConfig.php
Due: source

2) Refactor App->config[] into Core\PConfig
  src/Core/Config.php
Due: source

Add nofilter to field_input attribute parameter
  view/templates/field_input.tpl
  view/theme/frio/templates/field_input.tpl
Due: none

Normalize field_*.tpl formatting
  view/templates/field_input.tpl
  view/templates/field_select.tpl
  view/templates/field_select_raw.tpl
  view/templates/field_textarea.tpl
  view/templates/field_themeselect.tpl
  view/templates/field_yesno.tpl
  view/theme/frio/templates/field_input.tpl
  view/theme/frio/templates/field_select.tpl
  view/theme/frio/templates/field_select_raw.tpl
  view/theme/frio/templates/field_textarea.tpl
  view/theme/frio/templates/field_themeselect.tpl
Due: none

3) Introducing ConfigFactory
  boot.php
  index.php
  mod/admin.php
  mod/friendica.php
  src/App.php
  src/Core/Config.php
  src/Core/Config/ConfigCache.php
  src/Core/Config/ConfigCacheLoader.php
  src/Core/Config/IConfigCache.php
  src/Core/Config/IPConfigCache.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Config/JITPConfigAdapter.php
  src/Core/Config/PreloadConfigAdapter.php
  src/Core/Config/PreloadPConfigAdapter.php
  src/Core/Logger.php
  src/Core/PConfig.php
  src/Core/System.php
  src/Database/DBA.php
  src/Database/DBStructure.php
  src/Factory/ConfigFactory.php
  src/Factory/LoggerFactory.php
  src/LegacyModule.php
  src/Util/BasePath.php
Due: source, backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
