Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

AP: Transmitting and receiving with non AP contacts
  boot.php
  config/dbstructure.json
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/Notifier.php
Due: source

Add missing L10n::popLang calls
  include/enotify.php
  src/Database/DBStructure.php
Due: source, backend

Simplify L10n::t + sprintf instances
  src/Database/DBStructure.php
Due: source

Move Global Functions - Part 3 - Replaced every CACHE definition - Moved check_url to App->checkURL() - Removed unused definition "ZCURL_TIMEOUT"
  boot.php
  index.php
  mod/ping.php
  mod/search.php
  src/App.php
  src/Content/OEmbed.php
  src/Model/GContact.php
  src/Model/Photo.php
  src/Model/Profile.php
  src/Network/Probe.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Protocol/Diaspora.php
  src/Protocol/OStatus.php
  src/Util/JsonLD.php
  src/Worker/DiscoverPoCo.php
  src/Worker/Queue.php
Due: source, backend

Add system.username_min_length and system.username_max_length config keys
  config/config.ini.php
Due: none

Use username_min/max_length config keys in Model\User::create
  src/Model/User.php
Due: source

Add Friendica\LegacyModule class
  src/LegacyModule.php
Due: source

Remove direct module function calls in index.php
  index.php
Due: none

Change file_exists to is_readable in LegacyModule
  src/LegacyModule.php
Due: source

The limit for dbclean is now configurable
  config/config.ini.php
  src/Worker/DBClean.php
Due: source

Bugfix: We hadn't deliverd AP posts to all intended receivers
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Add safeguard for username_min|max_length mutual exclusion
  src/Model/User.php
Due: source

Changing default/max values for username_min/max_length
  config/config.ini.php
  src/Model/User.php
Due: source

Fix webmentions and microformats ("redir" only for logged in users)
  include/conversation.php
  src/Object/Post.php
Due: source, backend

We now send the previous followers collection as well
  src/Protocol/ActivityPub/Transmitter.php
Due: source

reverted css changes, adapted credits.tpl from default theme for frio
  view/theme/frio/css/style.css
  view/theme/frio/templates/credits.tpl
Due: none

Sets maximum to 64 for username_min/max_length config keys
  config/config.ini.php
  src/Model/User.php
Due: source

Improve PR 5984: better check for remote users as well
  include/conversation.php
  src/Object/Post.php
Due: source, backend

Move index.php content to App->runFrontend
  index.php
  src/App.php
  src/Core/System.php
Due: source

Simplify bin/worker
  bin/worker.php
Due: binary

Improve App->runFrontend formatting
  src/App.php
Due: source

Improved parsing of AP profiles
  src/Model/APContact.php
  src/Util/JsonLD.php
Due: source

Remove unwarranted doxygen comments in App
  src/App.php
Due: source

API: The source field does now reliably return the correct network name of the author
  include/api.php
Due: backend

Fix Testing
  tests/DatabaseTest.php
Due: tests

Fix Testing
  tests/ApiTest.php
  tests/DatabaseTest.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/InstallTest.php
Due: tests

Code standards
  tests/ApiTest.php
  tests/DatabaseTest.php
Due: tests

Code Standards
  tests/ApiTest.php
  tests/DatabaseTest.php
Due: tests

Use System::httpExit for 403 error in App
  src/App.php
Due: source

Move $strings from App to Core\L10n
  bin/worker.php
  mod/register.php
  src/App.php
  src/Core/Console/Maintenance.php
  src/Core/L10n.php
  src/Util/Temporal.php
Due: source, backend, binary

Add static keyword for Core\L10n properties
  src/Core/L10n.php
Due: source

Move $apps out of App
  mod/apps.php
  src/App.php
  src/Content/Nav.php
Due: source, backend

replaced $return_url to $return_path to make it more clear that it is a relative path to the Friendica baseurl
  include/conversation.php
  mod/events.php
  mod/follow.php
  mod/manage.php
  mod/match.php
  mod/message.php
  mod/photos.php
  mod/suggest.php
  mod/unfollow.php
  src/Core/Authentication.php
  src/Module/Contact.php
  src/Module/Login.php
Due: source, backend

description fix
  src/App.php
Due: source

replaced forwardurl with forward_path
  mod/dfrn_request.php
Due: backend

replaced a relative url with path
  mod/profile_photo.php
Due: backend

replaced onerror_url with onerror_path
  mod/events.php
Due: backend

removed unnecessary System use
  src/Module/Magic.php
Due: source
