Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

NB-NO translation update THX friendOFica
  view/lang/nb-no/messages.po
  view/lang/nb-no/strings.php
Due: none

Don't show deleted contacts, changed "pending" behaviour
  mod/acl.php
  mod/dfrn_confirm.php
  src/Content/Widget.php
  src/Model/Contact.php
  src/Protocol/ActivityPub/Transmitter.php
  view/theme/frio/theme.php
Due: source, backend

Issue 6282: Update the forum status of contacts
  src/Model/APContact.php
  src/Protocol/DFRN.php
  src/Worker/OnePoll.php
Due: source

Update translation en-gb
  view/lang/en-gb/messages.po
  view/lang/en-gb/strings.php
Due: none

Making Friendica compatible to Nextcloud Social
  src/Model/APContact.php
  src/Protocol/ActivityPub/Receiver.php
  src/Util/JsonLD.php
Due: source

Fixing some notice again
  src/Worker/OnePoll.php
Due: source

Issue 6438: Avoid fatal error
  src/Util/JsonLD.php
Due: source

Avoiding some notices
  src/Model/Contact.php
  src/Module/Login.php
  src/Util/JsonLD.php
Due: source

Solves redirect error message
  mod/toggle_mobile.php
Due: backend

Fix undefined offset notices in Protocol\Email
  src/Protocol/Email.php
Due: source

Updated the CREDITS.TXT file for 2019.01
  CREDITS.txt
  bin/dev/make_credits.py
Due: binary

remove empty lines
  CREDITS.txt
  bin/dev/make_credits.py
Due: binary

remouved double entry
  CREDITS.txt
Due: none

Now storing the "manually approve" data / fix update routine
  config/dbstructure.config.php
  database.sql
  src/Database/DBA.php
  src/Model/APContact.php
Due: source

Enable communication with Peertube
  src/Protocol/ActivityPub/Transmitter.php
  src/Util/DateTimeFormat.php
  src/Util/HTTPSignature.php
Due: source

Date check added for HTTP signatures
  src/Util/HTTPSignature.php
Due: source

Adding the date to signed get requests as well
  src/Util/HTTPSignature.php
Due: source

Updated composer file
  composer.lock
Due: none

Avoid a notice in HTTP signature check, preparation for authentication
  src/Module/Objects.php
  src/Module/Outbox.php
  src/Util/HTTPSignature.php
Due: source

Issue 6282: Update the contact data regularly (including the network)
  src/Core/Protocol.php
  src/Model/Contact.php
  src/Model/Item.php
  src/Protocol/PortableContact.php
  src/Worker/OnePoll.php
Due: source

Fixing a bug, adding some logging
  src/Worker/OnePoll.php
Due: source

This fixes a problem when the URL is too long
  src/Util/Network.php
Due: source

The "]" had been at the wrong place
  src/Worker/OnePoll.php
Due: source

Simplyfies AP relaying, fixes relaying of public contacts
  src/Protocol/ActivityPub/Transmitter.php
  src/Worker/Delivery.php
  src/Worker/Notifier.php
Due: source

Bugfix: Private posts of contacts hadn't been displayed on the contact's page
  src/Model/Contact.php
Due: source

Google+ will be history soon, so we remove the first traces
  mod/nodeinfo.php
  mod/statistics_json.php
Due: backend

Bugfix - provide magic links for remote user in magicLink()
  src/Content/Text/HTML.php
  src/Model/Contact.php
Due: source

Check if the vendor path is missing and complain about it
  index.php
Due: none

Bugfix: Theme functions hadn't been executed anymore
  src/App.php
  view/theme/vier/theme.php
Due: source

Avoid that forum posts are received via the Diaspora protocol first
  src/Worker/Notifier.php
Due: source

Bugfix - use magicLinks also for common/all friends and the directory
  mod/allfriends.php
  mod/common.php
  mod/directory.php
  src/Content/Widget.php
Due: source, backend

Transmit via BCC if contact is hidden, don't store announces
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Insert theme init after module init but before post/content
  src/App.php
Due: source

Move theme selection to init() in mod/admin
  mod/admin.php
Due: backend

[frio] Remove unused code in frio_init()
  view/theme/frio/theme.php
Due: none

Move rawContent before theme initialization
  src/App.php
Due: source

Fix docblock in mod/admin.php
  mod/admin.php
Due: backend

1st round of the CHANGELOG for 2019.01
  CHANGELOG
Due: none

HTML unescape existing albums
  view/templates/photos_upload.tpl
  view/theme/frio/templates/photos_upload.tpl
Due: none

updated CHANGELOG
  CHANGELOG
Due: none
