Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Unescape infinite scroll URL
  view/templates/infinite_scroll_head.tpl
Due: none

[vier] Add message icon link in header nav
  view/theme/vier/mobile.css
  view/theme/vier/style.css
  view/theme/vier/templates/nav.tpl
Due: none

[frio] Fix user menu messages notification badge display
  view/theme/frio/css/style.css
Due: none

Prevent a notice ... again
  src/Protocol/OStatus.php
Due: source

Change stylesheet path name for mobile browsers
  src/Core/Theme.php
Due: source

Strip base url from links before determining anchor status for iOS linker
  view/templates/head.tpl
  view/theme/frio/templates/head.tpl
Due: none

Update version constant to 2019.01-rc
  boot.php
Due: none

clarification for the translation of addons.
  doc/translations.md
Due: none

adding lang parameter to DE FAQ
  doc/de/FAQ.md
Due: none

typo
  doc/de/FAQ.md
Due: none

Periodically update contacts / update the contact type
  src/Model/APContact.php
Due: source

Reset the "forum" and "prv" field
  src/Model/APContact.php
Due: source

Issue 6347: Removing the old way to fetch Diaspora posts to avoid Hubzilla problems
  src/Protocol/Diaspora.php
Due: source

[frio] Fix justifyGalley scales list
  view/theme/frio/js/theme.js
Due: none

Issue 6394: The contact location has to be BBEncoded
  src/Model/Profile.php
  src/Module/Contact.php
  view/templates/contact_edit.tpl
  view/templates/profile_vcard.tpl
  view/theme/duepuntozero/templates/profile_vcard.tpl
  view/theme/frio/templates/contact_edit.tpl
  view/theme/frio/templates/profile_vcard.tpl
  view/theme/quattro/templates/profile_vcard.tpl
  view/theme/vier/templates/contact_edit.tpl
  view/theme/vier/templates/profile_vcard.tpl
Due: source

Update new password help text
  mod/settings.php
Due: backend

Update master messages.po translation file
  view/lang/C/messages.po
Due: none

Issue 6149: Making OWA (hopefully) compatible with Hubzilla
  mod/xrd.php
  src/Module/Magic.php
  src/Module/Owa.php
  view/templates/xrd_person.tpl
Due: source, backend

Add support for Hubzilla forum mentions (starting with !)
  src/Content/Text/BBCode.php
  src/Content/Text/Markdown.php
Due: source

Don't show deleted contacts, set new AP contacts as "pending" until they are accepted
  src/Core/ACL.php
  src/Model/Contact.php
  src/Module/Contact.php
Due: source

Fixing the Accepting of contact requests
  src/Protocol/ActivityPub/Processor.php
Due: source

Unfollow should now work with Pleroma again
  src/Model/Contact.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Pending must only be set when we connect as well
  mod/dfrn_confirm.php
Due: backend

Don't accept private answers to public parents
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

Add ensureQueryParameter method to Util\Strings
  src/Util/Strings.php
Due: source

Replace Pager->ensureQueryParameter by Strings::ensureQueryParameter
  src/Content/Pager.php
Due: source

Remove Pager->ensureQueryParameter
  src/Content/Pager.php
Due: source

Fix output of Pager->getBaseQueryString
  src/Content/Pager.php
Due: source

Revert "Change stylesheet path name for mobile browsers"
  src/Core/Theme.php
Due: source

Add App->mobileDetect property
  src/App.php
Due: source

Add time parameter for iOS Safari to stylesheet URL
  src/Core/Theme.php
Due: source

Make style.php require query parameter puid for specific stylesheets
  view/theme/duepuntozero/style.php
  view/theme/frio/style.php
  view/theme/quattro/style.php
  view/theme/vier/style.php
Due: none

Rework Profile::getThemeUid to ignore query parameter and include $a->profile_uid
  src/Core/Theme.php
  src/Model/Profile.php
  view/theme/frio/php/default.php
Due: source

Refactor Theme::getStylesheetPath to return faster if theme style.php doesn't exist
  src/Core/Theme.php
Due: source

update FR translations THX lapoubelle111
  view/lang/fr/messages.po
  view/lang/fr/strings.php
Due: none

update to the en gb and us translations THX Andy H3
  view/lang/en-gb/messages.po
  view/lang/en-gb/strings.php
  view/lang/en-us/messages.po
  view/lang/en-us/strings.php
Due: none

DE translation update
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

NL translation update THX Jeroen
  view/lang/nl/messages.po
  view/lang/nl/strings.php
Due: none

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
