Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Prevent multiple send follow requests
  src/Protocol/ActivityPub/Transmitter.php
Due: source

DE translation update
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

Multiples follows shouldn't be send anymore
  src/Protocol/ActivityPub/Processor.php
Due: source

This now should really prevent sending the follow requests only once
  src/Protocol/ActivityPub/Processor.php
Due: source

style the warning in crepair
  view/global.css
Due: none

The "follow" activity is now stored in the "item-activity" table
  src/Model/Item.php
Due: source

Revert the storing of the "follow" activity
  src/Model/Item.php
Due: source

Fix: Corected config value name
  config/defaults.config.php
  src/Core/Worker.php
Due: source

Fix worker statistics
  src/Core/Worker.php
Due: source

ACL network - fixed preselected acl items
  mod/network.php
  src/Core/ACL.php
Due: source, backend

Don't send single item delete commands to protocols that support account removal
  src/Model/User.php
  src/Worker/Notifier.php
Due: source

Fix: Workerqueue processes had been killed too early
  src/Core/Worker.php
Due: source

Ensure that "strtotime" returns the correct timestamp
  mod/worker.php
  src/Core/Worker.php
Due: source, backend

added AP to the example home.html file
  mods/home.html
Due: none

tagged the JS files in view/js with their licenses
  view/js/acl.js
  view/js/ajaxupload.js
  view/js/autocomplete.js
  view/js/country.js
  view/js/filebrowser.js
  view/js/jquery-textcomplete/jquery.textcomplete.js
  view/js/jquery-textcomplete/jquery.textcomplete.min.js
  view/js/jquery.textinputs.js
  view/js/linkPreview.js
  view/js/main.js
  view/js/modernizr.js
Due: none

tagged the inline JS in head.tpl with the license
  view/templates/head.tpl
Due: none

typo
  view/js/linkPreview.js
Due: none

JS files of quattro theme
  view/theme/quattro/js/quattro.js
Due: none

JS files of quattro
  view/theme/quattro/jquery.tools.min.js
Due: none

JS files of smoothy theme
  view/theme/smoothly/js/jquery.autogrow.textarea.js
  view/theme/smoothly/js/modernizr.custom.2.5.3.js
  view/theme/smoothly/js/modernizr.custom.2.5.3.min.js
Due: none

forgotten quattro file
  view/theme/quattro/tinycon.min.js
Due: none

Should fix "DB Error 1205: Lock wait timeout exceeded; try restarting transaction"
  src/Model/Item.php
Due: source

Issue 6603: Events are now fetchable via AP
  src/Model/Event.php
Due: source

Indentions
  src/Model/Event.php
Due: source

Include new lines in implicit mention regular expression
  src/Protocol/ActivityPub/Processor.php
Due: source

bugfix: linkPreview - remove s flag from regexp because FF don't support it
  view/js/linkPreview.js
Due: none

New configuration to disable the automatic mentions removal
  config/defaults.config.php
  src/Protocol/ActivityPub/Processor.php
Due: source

We should return something ;-)
  src/Protocol/ActivityPub/Processor.php
Due: source

linkPreview - workaround for mising 's' flag ins js regex
  view/js/linkPreview.js
Due: none

Changed description
  config/defaults.config.php
Due: none

frio - some small styling fixes for the manage page (badges, center name, paddings)
  view/templates/manage.tpl
  view/theme/frio/css/style.css
Due: none

PL translation update THX waldis
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

The setting "worker_fetch_limit" now only has an impact on high priority processes
  src/Core/Worker.php
Due: source

The process id is currently not supported.
  src/Core/Worker.php
Due: source

fixing #6652 Manual installer bricked
  src/Core/Console/AutomaticInstallation.php
  src/Core/Installer.php
  src/Module/Install.php
Due: source

added type-hint
  src/Core/Installer.php
Due: source

Unescape $ispublic variable for jot display
  view/templates/jot-header.tpl
  view/templates/photos_head.tpl
  view/templates/settings/head.tpl
  view/theme/frio/templates/jot-header.tpl
  view/theme/frio/templates/photos_head.tpl
  view/theme/smoothly/templates/jot-header.tpl
Due: none

Switch tag of expanded like list to paragraph
  include/conversation.php
  view/global.css
  view/theme/frio/templates/voting_fakelink.tpl
Due: backend

Improved comment hiding interaction
  src/App.php
  src/Object/Post.php
  view/js/main.js
  view/templates/head.tpl
  view/templates/wall_thread.tpl
  view/theme/frio/js/theme.js
  view/theme/frio/templates/head.tpl
  view/theme/frio/templates/wall_thread.tpl
  view/theme/quattro/templates/wall_thread.tpl
  view/theme/smoothly/templates/wall_thread.tpl
  view/theme/vier/templates/wall_thread.tpl
Due: source

Remove superfluous call to focus() in global commentExpand() function
  view/templates/head.tpl
Due: none
