Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Adding $a->getBaseURL for Worker in profile_photo Adding a TODO for Contact::magicLink
  mod/profile_photo.php
  mod/randprof.php
  src/Model/Contact.php
Due: source, backend

adding defaults in mod/redir.php
  include/api.php
  mod/redir.php
  src/Module/Magic.php
Due: source, backend

goaway fix in App
  src/App.php
Due: source

Add new Core\Hook class
  src/Core/Hook.php
Due: source

Move hook-related methods from Core\Addon to Core\Hook
  mod/admin.php
  mod/friendica.php
  src/App.php
  src/Core/Addon.php
  src/Object/Post.php
  src/Worker/Cron.php
  src/Worker/Expire.php
  src/Worker/ForkHook.php
  src/Worker/Notifier.php
Due: source, backend

Switch from dbstructure.json to dbstructure.php
  config/dbstructure.json
  config/dbstructure.php
  src/Database/DBStructure.php
  tests/Util/VFSTrait.php
  update.php
Due: source, tests

Remove unused dbstructure hook call in App->loadDatabase
  src/App.php
Due: source

Fix dbstructure console outputting addon structure as well
  src/Database/DBStructure.php
Due: source

Add/Fix Doxygen headers for classes
  src/Core/Addon.php
  src/Core/Hook.php
  src/Database/DBA.php
Due: source

Move DB_UPDATE_VERSION from boot.php to config/dbstructure.php
  boot.php
  config/dbstructure.php
  src/App.php
  src/Database/DBStructure.php
  update.php
Due: source

Remove obsolete require_once include/dba from Core\Addon and Core\Hook
  src/Core/Addon.php
  src/Core/Hook.php
Due: source

Move NULL_DATE from boot.php to DBA::NULL_DATETIME
  boot.php
  mod/events.php
  mod/profiles.php
  mod/settings.php
  src/Core/Authentication.php
  src/Core/UserImport.php
  src/Core/Worker.php
  src/Database/DBA.php
  src/Model/Contact.php
  src/Model/Event.php
  src/Model/GContact.php
  src/Model/Profile.php
  src/Model/PushSubscriber.php
  src/Module/Contact.php
  src/Protocol/PortableContact.php
  src/Util/Temporal.php
  src/Worker/Cron.php
  src/Worker/CronJobs.php
  src/Worker/OnePoll.php
Due: source, backend

Fix Fatal Error in App
  src/App.php
Due: source

Fix wrong namespace for Core\System in App
  src/App.php
Due: source

Updated link to Friendiqa's links
  doc/Developers-Intro.md
Due: none

Fix missing instance of Addon::isEnabled in App
  src/App.php
Due: source

Fix a notice when sending relocation messages
  src/Worker/Delivery.php
Due: source

Adding missing parentheses in mod/dfrn_poll
  mod/dfrn_poll.php
Due: backend

Unsuccessful ActivitiyPub transmission are now deferred
  src/Core/Worker.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Util/HTTPSignature.php
  src/Worker/APDelivery.php
Due: source

Fixing absolute/relative path
  mod/toggle_mobile.php
Due: backend

Making redirect message more informative
  src/App.php
  src/Core/System.php
  tests/src/Core/SystemTest.php
Due: source, tests

Fixing tests - part 2
  src/Core/Install.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/InstallTest.php
Due: source, tests

raising profile photo size to comply with frio sidebar profile photo skaling
  mod/profile_photo.php
Due: backend

adapted 300px image size for default avatar
  images/person-300.jpg
  mod/dfrn_confirm.php
  mod/photo.php
Due: backend

adapted profile pic resize to 300px for whole system
  doc/api.md
  include/api.php
  mod/profile_photo.php
  src/Core/NotificationsManager.php
  src/Model/Contact.php
  src/Model/GContact.php
  src/Model/Photo.php
  src/Model/User.php
  src/Module/Proxy.php
  src/Network/Probe.php
  src/Protocol/DFRN.php
  src/Protocol/OStatus.php
  src/Util/Network.php
Due: source, backend

Replace Frienica\Core\Addon::isApp() withi Friendica\Core\Hook::isAddonApp()
  src/App.php
Due: source

Add prompt for link and media in comment + remove video symbol
  mod/parse_url.php
  src/Object/Post.php
  view/theme/frio/js/textedit.js
  view/theme/frio/templates/comment_item.tpl
Due: source, backend

Code Standards
  view/theme/frio/js/textedit.js
Due: none

Show deferred worker tasks in the admin interface and workerqueue logs
  mod/admin.php
  src/Core/Worker.php
  view/templates/admin/summary.tpl
  view/theme/frio/templates/admin/summary.tpl
Due: source, backend

Remove items more memory friendly
  src/Worker/RemoveContact.php
  src/Worker/RemoveUser.php
Due: source

Improve query speed
  src/Worker/RemoveContact.php
Due: source

Removed finished work from the comments
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Add multimedia link for jot + enables hover text in jot + autosize in when paste link + renaming / Code Standards
  include/conversation.php
  mod/parse_url.php
  src/Object/Post.php
  view/js/main.js
  view/theme/frio/js/textedit.js
  view/theme/frio/templates/comment_item.tpl
  view/theme/frio/templates/jot-header.tpl
  view/theme/frio/templates/jot.tpl
Due: source, backend

Code Standard: indent + renaming function in camelcase
  view/theme/frio/js/textedit.js
  view/theme/frio/templates/jot-header.tpl
  view/theme/frio/templates/jot.tpl
Due: none

Bugfixing redirects
  mod/randprof.php
  mod/redir.php
  src/App.php
  src/Module/Magic.php
Due: source, backend

removed use Friendica\Core\System again
  src/App.php
Due: source

Code standards
  mod/randprof.php
  src/App.php
Due: source, backend

making english sentences
  src/App.php
Due: source

Preparations to work with BCC
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Util/HTTPSignature.php
Due: source

We now use bcc for the acl block
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
