Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Bugfixing Monolog
  src/Core/Logger.php
  src/Module/Login.php
Due: source

change regex for fail2ban
  doc/tools.md
  src/Core/Logger.php
  src/Module/Login.php
Due: source

Bugfixing legacy loglevel
  src/Core/Logger.php
  src/Util/LoggerFactory.php
Due: source

revert phpdoc change
  src/Core/Logger.php
Due: source

Reset map function name
  src/Core/Logger.php
Due: source

changing failed auth to warning
  src/Module/Login.php
Due: source

Add new Widget\ContactBlock
  src/Content/Widget/ContactBlock.php
Due: source

Update HTML::contactBlock and Profile::load with new ContactBlock widget
  src/Content/Text/HTML.php
  src/Model/Profile.php
Due: source

Move Contact::Page_* constants to User::PAGE_FLAGS_*
  include/enotify.php
  mod/admin.php
  mod/dfrn_confirm.php
  mod/dfrn_notify.php
  mod/dfrn_request.php
  mod/hcard.php
  mod/photos.php
  mod/profile.php
  mod/profiles.php
  mod/settings.php
  mod/videos.php
  mod/wall_attach.php
  mod/wall_upload.php
  src/Content/Nav.php
  src/Model/Contact.php
  src/Model/Item.php
  src/Model/User.php
  src/Object/Image.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Util/Security.php
  update.php
Due: source, backend

Move Contact::ACCOUNT_TYPE_* constants to User::ACCOUNT_TYPE_*
  mod/admin.php
  mod/community.php
  mod/noscrape.php
  src/Model/Contact.php
  src/Model/User.php
  src/Network/Probe.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Protocol/OStatus.php
  src/Worker/Delivery.php
  src/Worker/Queue.php
Due: source, backend

Update missing namespace uses in mod/
  mod/dfrn_notify.php
  mod/hcard.php
  mod/profile.php
  mod/profiles.php
  mod/settings.php
  mod/videos.php
  mod/wall_attach.php
  mod/wall_upload.php
  update.php
Due: backend

Show followers for pages, followed for users in ContactBlock widget
  src/Content/Widget/ContactBlock.php
Due: source

Fix potential bugs without expected behavior change
  include/conversation.php
  include/enotify.php
  mod/admin.php
  mod/dfrn_notify.php
  mod/dfrn_request.php
  mod/directory.php
  mod/dirfind.php
  mod/fbrowser.php
  mod/feedtest.php
  mod/help.php
  mod/ignored.php
  mod/invite.php
  mod/item.php
  mod/msearch.php
  mod/notifications.php
  mod/notify.php
  mod/openid.php
  mod/poco.php
  mod/suggest.php
  mod/worker.php
  mod/xrd.php
  src/App.php
  src/Core/Console/DatabaseStructure.php
  src/Core/NotificationsManager.php
  src/Model/Attach.php
  src/Model/Contact.php
  src/Model/Conversation.php
  src/Model/Event.php
  src/Model/Item.php
  src/Module/Proxy.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Protocol/DFRN.php
  src/Protocol/OStatus.php
  src/Util/Network.php
  src/Util/Strings.php
Due: source, backend

Replace deprecated calls to q() in mod/fsuggest and mod/photos
  mod/fsuggest.php
  mod/photos.php
Due: backend

Fix missing $ in front of variable names
  src/Protocol/OStatus.php
  src/Worker/TagUpdate.php
Due: source

Fix logic in mod/hovercard
  mod/hovercard.php
Due: backend

Fix call to Contact::content in mod/update_contact
  mod/update_contact.php
Due: backend

Fix item retrieval logic in mod/display
  mod/display.php
Due: backend

Fix method parameter type in Model\Attach
  src/Model/Attach.php
Due: source

Fix error message in Console\GlobalCommunityBlock
  src/Core/Console/GlobalCommunityBlock.php
Due: source

Fix calls to DBA::select missing parameters
  mod/network.php
  src/Model/Attach.php
  src/Model/Contact.php
  src/Model/Item.php
  src/Model/Photo.php
Due: source, backend

Fix missing new in throw calls in Core\StorageManager
  src/Core/StorageManager.php
Due: source

Fix unused $kw variable in Protocol\Diaspora
  src/Protocol/Diaspora.php
Due: source

Fix wrong operators in Model\Item and Model\Contact
  src/Model/Contact.php
  src/Model/Item.php
Due: source

Fix wrong git-fu in mod/directory
  mod/directory.php
Due: backend

Fix bad rebase in Model/Contact
  src/Model/Contact.php
Due: source

Fix missing use statement in Content\Nav
  src/Content/Nav.php
Due: source

Improve page flags doc block in Model\User
  src/Model/User.php
Due: source

Revert unwarranted selectFirstForUser change in mod/display
  mod/display.php
Due: backend

Fix doc blocks and return value type
  include/api.php
  include/conversation.php
  include/enotify.php
  include/text.php
  src/Object/Thread.php
  src/Util/Emailer.php
Due: source, backend

Improve get_responses() prototype
  include/conversation.php
  mod/photos.php
  src/Object/Post.php
Due: source, backend

Remove unused consume_feed() parameters
  include/items.php
Due: backend

Fix namespace usage in include/enotify
  include/enotify.php
Due: backend

Fix variable type in include/text
  include/text.php
Due: backend

Add missing break statements in include/conversation
  include/conversation.php
Due: backend

Various fixes in include/api
  include/api.php
Due: backend

Welcome 2019.03-dev!
  VERSION
  boot.php
Due: none

bugfix Contact.php - there is no column 'deleted' in the 'profile' table
  src/Module/Contact.php
Due: source

Fix wrong class constant in Model\APContact
  src/Model/APContact.php
Due: source

Extract title determination from OStatus::entryHeader logic
  src/Protocol/OStatus.php
Due: source

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
