Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

The "about" field shouldn't be escaped
  view/theme/frio/templates/contact_edit.tpl
Due: none

Add check for relationship with remote user for connect display
  src/Model/Profile.php
Due: source

Use Contact::isFollower instead
  src/Model/Profile.php
Due: source

Issue 6257: Make notes visible again
  include/conversation.php
  mod/notes.php
Due: backend

Fix for magic auth
  src/Model/Profile.php
Due: source

Some added to-do
  src/Model/Profile.php
Due: source

Issue 6259: Suppress contact group widget only on network page
  src/Model/Group.php
Due: source

Add PHP 5 compatible recursive dirname()
  boot.php
  src/App.php
Due: source

Fix various notices
  src/Content/Text/BBCode.php
  src/Model/GContact.php
  src/Protocol/Email.php
  src/Protocol/OStatus.php
  src/Protocol/PortableContact.php
  src/Util/Network.php
  src/Worker/GProbe.php
Due: source

Enable Smarty default HTML escaping
  src/Render/FriendicaSmarty.php
Due: source

Various improvements/fixes
  include/conversation.php
  src/Core/Renderer.php
  view/theme/smoothly/style.css
Due: source, backend

Unescape variables in events and descriptions
  view/templates/admin/contactblock.tpl
  view/templates/event.tpl
  view/templates/event_stream_item.tpl
  view/templates/events.tpl
  view/templates/http_status.tpl
  view/theme/frio/templates/admin/contactblock.tpl
  view/theme/frio/templates/event.tpl
  view/theme/frio/templates/event_stream_item.tpl
  view/theme/quattro/templates/events.tpl
Due: none

Unescape value of generic input field
  view/theme/frio/templates/field_input.tpl
Due: none

Remove erroring template comment
  view/templates/settings/settings.tpl
Due: none

Fix feed display in browser when using emojis
  src/Module/Feed.php
Due: source

Fix ActivityPub with Nextcloud
  src/Module/Inbox.php
  src/Util/HTTPSignature.php
Due: source

Add generic content wrapper + frio btn primary buttons class to newmemeber, unfollow, follow (auto + dfrn)
  mod/newmember.php
  view/templates/auto_request.tpl
  view/templates/dfrn_request.tpl
Due: backend

move templates to frio theme
  view/theme/frio/templates/auto_request.tpl
  view/theme/frio/templates/dfrn_request.tpl
Due: none

Add page-wrapper to oauth/edit in frio
  view/theme/frio/templates/settings/oauth_edit.tpl
Due: none

Add page-wrapper for probe + webfinder
  mod/probe.php
  mod/webfinger.php
Due: backend

Fix: Contacts can now be edited again
  view/theme/frio/templates/contact_edit.tpl
Due: none

Fix wrong merge + nofilter in contact_edit
  view/templates/contact_edit.tpl
  view/theme/frio/templates/contact_edit.tpl
  view/theme/vier/templates/contact_edit.tpl
Due: none

Remove unused template variable $tabcontent in mail_head.tpl
  view/templates/mail_head.tpl
  view/theme/frio/templates/mail_head.tpl
Due: none

Remove unreliable ANY_VALUE from message list query
  mod/message.php
Due: backend

Fixing templates - unescaping it again
  view/templates/profile_advanced.tpl
  view/theme/frio/templates/profile_advanced.tpl
  view/theme/frio/templates/search_item.tpl
  view/theme/frio/templates/wall_thread.tpl
  view/theme/vier/templates/profile_advanced.tpl
Due: none

Remove unused/empty template variables in register
  mod/register.php
  view/templates/register.tpl
  view/theme/frio/templates/register.tpl
Due: backend

Fix install escaping
  view/templates/install_checks.tpl
  view/templates/install_db.tpl
  view/templates/install_finished.tpl
  view/templates/install_settings.tpl
Due: none

Fix home escaping
  view/templates/home.tpl
  view/theme/frio/templates/home.tpl
Due: none

Fix advanced profile fields escaping
  view/templates/profile_advanced.tpl
  view/theme/frio/templates/profile_advanced.tpl
  view/theme/vier/templates/profile_advanced.tpl
Due: none

Fix post location escaping
  view/templates/search_item.tpl
  view/templates/wall_thread.tpl
  view/theme/frio/templates/search_item.tpl
  view/theme/frio/templates/wall_thread.tpl
  view/theme/quattro/templates/search_item.tpl
  view/theme/quattro/templates/wall_item_tag.tpl
  view/theme/quattro/templates/wall_thread.tpl
  view/theme/smoothly/templates/search_item.tpl
  view/theme/smoothly/templates/wall_thread.tpl
  view/theme/vier/templates/search_item.tpl
  view/theme/vier/templates/wall_item_tag.tpl
  view/theme/vier/templates/wall_thread.tpl
Due: none

Some more stuff to unescape
  view/templates/nav.tpl
  view/templates/profile_entry.tpl
  view/templates/profile_listing_header.tpl
  view/theme/duepuntozero/templates/nav.tpl
  view/theme/frio/templates/profile_listing_header.tpl
Due: none

Unescape tags
  view/templates/wall_thread.tpl
  view/theme/quattro/templates/photo_item.tpl
  view/theme/quattro/templates/search_item.tpl
  view/theme/quattro/templates/wall_thread.tpl
  view/theme/vier/templates/photo_item.tpl
  view/theme/vier/templates/search_item.tpl
  view/theme/vier/templates/wall_thread.tpl
Due: none

Fixes issue 6289
  view/templates/jot.tpl
  view/theme/frio/templates/jot.tpl
  view/theme/smoothly/templates/jot.tpl
Due: none

This template change had been missing
  view/theme/quattro/templates/jot.tpl
Due: none

Issue 6294: Fix templates
  view/theme/frio/templates/register.tpl
Due: none

Issue 6297 - and again template stuff
  view/templates/photos_upload.tpl
  view/theme/frio/templates/photos_upload.tpl
Due: none

And some more templates
  view/templates/photos_upload.tpl
  view/theme/frio/templates/photos_upload.tpl
Due: none
