Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Issue 6296 - and again templates
  view/templates/admin/addon_details.tpl
Due: none

API: Fix author of repeated items from Diaspora
  include/api.php
Due: backend

Isse 6300: And again templates ...
  view/templates/intros.tpl
  view/theme/frio/templates/intros.tpl
Due: none

Fixed bug
  src/Protocol/PortableContact.php
Due: source

Too fast
  src/Protocol/PortableContact.php
Due: source

The curl result is an object, not an array
  mod/ostatus_subscribe.php
  src/Network/Probe.php
  src/Protocol/PortableContact.php
Due: source, backend

Handles issue 6122 - the self contact will be updated when it seems to be invalid
  src/Model/Contact.php
  src/Model/User.php
Due: source

Issue 6308 - and again ...
  view/theme/frio/templates/group_edit.tpl
Due: none

Checks if JSON is enabled
  src/Core/Installer.php
Due: source

Hopefully this fixes the tests again
  src/Core/Installer.php
  tests/src/Core/InstallerTest.php
Due: source, tests

And again tests ...
  tests/src/Core/InstallerTest.php
Due: tests

Bite by bite ...
  tests/src/Core/InstallerTest.php
Due: tests

Fix escaping in email notification template
  view/templates/email_notify_html.tpl
Due: none

Fix template escaping in photo gallery view
  view/templates/photo_view.tpl
  view/theme/frio/templates/photo_view.tpl
  view/theme/quattro/templates/photo_view.tpl
  view/theme/vier/templates/photo_view.tpl
Due: none

Fix formatting in Database\DBStructure
  src/Database/DBStructure.php
Due: source

[Composer] Add ext-curl dependency
  composer.json
Due: none

Add support for FULLTEXT indices in Database\DBStructure
  src/Database/DBStructure.php
Due: source

Add expected FULLTEXT index to profile table
  config/dbstructure.config.php
Due: none

Rework mod/match
  mod/match.php
  src/Content/Pager.php
Due: source, backend

Rework mod/msearch
  mod/msearch.php
Due: backend

[Composer] Add global libraries to autoload
  composer.json
Due: none

The "Follow" activity shouldn't be send to Diaspora
  src/Protocol/Diaspora.php
Due: source

Move Composer autoload require out of boot.php
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  boot.php
  index.php
Due: binary

[Composer] Update lock file
  composer.lock
Due: none

Normalize expected format for event fields summary, desc and location
  mod/events.php
  src/Model/Event.php
  src/Protocol/ActivityPub/Processor.php
Due: source, backend

Code cleanup in events
  mod/events.php
  src/Model/Event.php
Due: source, backend

Remove template escaping for event title
  view/theme/frio/templates/event_stream_item.tpl
Due: none

Remove unused template variable in dfrn_req_confirm
  mod/dfrn_request.php
  view/templates/dfrn_req_confirm.tpl
Due: backend

Unescape aes_allow in dfrn_req_confirm.tpl
  view/templates/dfrn_req_confirm.tpl
Due: none

Issue 6316: Do not double encode / Avoid notice
  src/Module/Contact.php
  src/Protocol/PortableContact.php
Due: source

Fixing double encoding here as well
  mod/notifications.php
Due: backend

Add page wrapper to wallmessage.tpl
  view/templates/wallmessage.tpl
Due: none

[frio] Fix remaining user profile link icon
  view/theme/frio/templates/contact_template.tpl
Due: none

Restore escaping for textarea field template
  view/theme/frio/templates/field_textarea.tpl
Due: none

Unescape babel result panel content
  view/templates/babel.tpl
Due: none

Replace q() calls in mod/viewcontacts
  mod/viewcontacts.php
Due: backend

Remove redundant htmlentities/htmlspecialchars
  mod/admin.php
  mod/allfriends.php
  mod/babel.php
  mod/common.php
  mod/credits.php
  mod/crepair.php
  mod/editpost.php
  mod/follow.php
  mod/message.php
  mod/network.php
  mod/unfollow.php
  mod/wallmessage.php
  src/Content/Text/HTML.php
  src/Module/Itemsource.php
Due: source, backend

Remove random profile behavior from /profile
  mod/profile.php
Due: backend

Always usa magic on the same server
  mod/dfrn_poll.php
  mod/redir.php
Due: backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
