Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Convert remaining instances of "contacts" in mod/follow
  mod/follow.php
Due: backend

Issue 6128: Websub could work now
  include/api.php
  mod/pubsubhubbub.php
Due: backend

Create a new GUID on user import
  src/Core/UserImport.php
Due: source

Forgotten "use"
  src/Core/UserImport.php
Due: source

Just some notice again
  src/Module/Contact.php
Due: source

Issue 6128 again: We now use our regular feed that allows anonymous polling
  src/Protocol/OStatus.php
Due: source

Improved delete text to clarify AP comment delete behaviour
  src/Model/Item.php
  src/Object/Post.php
Due: source

WebSub fixes
  mod/pubsubhubbub.php
Due: backend

Make feeds look more like feeds
  src/Module/Feed.php
  src/Protocol/OStatus.php
Due: source

Some more feed simplification
  src/Protocol/OStatus.php
Due: source

Correct self attribute in ATOM feeds
  src/Protocol/OStatus.php
Due: source

CS, FR, PL translation updates
  view/lang/cs/messages.po
  view/lang/cs/strings.php
  view/lang/fr/messages.po
  view/lang/fr/strings.php
  view/lang/pl/messages.po
  view/lang/pl/strings.php
Due: none

Updated database.sql
  database.sql
Due: none

cp htaccess in Vagrant VM on setup
  bin/dev/vagrant_provision.sh
Due: binary

Refactor header with feed_mode
  src/Protocol/OStatus.php
Due: source

Fix ATOM feed title encoding
  src/Protocol/OStatus.php
Due: source

Title difference for two different ATOM feeds
  mod/profile.php
Due: backend

Fix lack of HTML encoding for stylesheet link
  src/App.php
Due: source

Apply correct title encoding to all cases
  src/Protocol/OStatus.php
Due: source

Minor code relocation
  src/Protocol/OStatus.php
Due: source

dbstructure: check for comment value or use default
  src/Database/DBStructure.php
Due: source

Fix deleting last element from saved folder + Fix displaying empty saved folder
  mod/filerm.php
  mod/network.php
  src/Model/FileTag.php
  src/Model/Item.php
Due: source, backend

Fix SQL Error if no items where found + Fix setting to null
  mod/network.php
  src/Model/FileTag.php
Due: source, backend

Fix return url when delete comment from display
  include/items.php
Due: backend

Escaping moved to template
  src/App.php
  view/templates/head.tpl
  view/theme/frio/templates/head.tpl
Due: source

Fix opening comment box when Post has replies
  view/theme/frio/js/theme.js
Due: none

Change how to decide between empty update and not called field file
  src/Model/FileTag.php
  src/Model/Item.php
Due: source

Use appropriate redirect in dfrn_poll
  mod/dfrn_poll.php
Due: backend

recreated SQL file for Vagrant VM from current DB structure
  friendica_test_data.sql
Due: none

Code Standard
  mod/network.php
Due: backend

More Code Standard
  mod/filerm.php
  mod/network.php
Due: backend

Add link to user groups from /contact
  doc/Accesskeys.md
  src/Module/Contact.php
Due: source

Fix setting permisson as post for uploaded photo in album via modal create post
  mod/item.php
Due: backend

Allow to delete every post, even public ones
  src/Object/Post.php
Due: source

Delete comment from its guid and return to parent guid
  include/items.php
Due: backend

Add fallback if comment as no parent
  include/items.php
Due: backend

Rearranged and wrote some parts new and more coherent.
  doc/de/Account-Basics.md
Due: none

[Doc]removed bold from keyword
  doc/de/Account-Basics.md
Due: none

Networks are now protocols
  src/Content/ContactSelector.php
  src/Content/Feature.php
  src/Content/Widget.php
Due: source

added linebreak and markdown url
  doc/de/Account-Basics.md
Due: none
