Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

some more renamings & doku
  src/App.php
  src/Render/FriendicaSmarty.php
  src/Util/Network.php
Due: source

some more renamings & doku
  src/App.php
Due: source

friendica-5875 Uncaught Error: Call to undefined method Friendica\App::getCurlCode() fixed
  src/Util/HTTPSignature.php
Due: source

Curl Response Refactoring
  mod/admin.php
  mod/feedtest.php
  mod/ostatus_subscribe.php
  mod/parse_url.php
  src/Core/ACL.php
  src/Model/APContact.php
  src/Model/GContact.php
  src/Model/Profile.php
  src/Module/Magic.php
  src/Network/Curl.php
  src/Network/Probe.php
  src/Protocol/ActivityPub.php
  src/Protocol/DFRN.php
  src/Protocol/OStatus.php
  src/Protocol/PortableContact.php
  src/Util/ExAuth.php
  src/Util/Network.php
  src/Util/ParseUrl.php
  src/Worker/DiscoverPoCo.php
  src/Worker/OnePoll.php
Due: source, backend

Issue 5859: Avoid returning empty arrays
  src/Util/JsonLD.php
Due: source

Curl Response Refactoring
  include/items.php
  mod/dfrn_confirm.php
  mod/dfrn_poll.php
  mod/match.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Protocol/Salmon.php
  src/Util/HTTPSignature.php
  src/Worker/OnePoll.php
  src/Worker/PubSubPublish.php
Due: source, backend

Curl Response Refactoring
  mod/pubsubhubbub.php
  src/Core/Install.php
  src/Module/Proxy.php
  src/Network/Curl.php
  src/Object/Image.php
  src/Protocol/Diaspora.php
  src/Protocol/PortableContact.php
  src/Protocol/Salmon.php
  src/Util/Network.php
Due: source, backend

Renaming Curl to CurlResult
  src/Network/CurlResult.php
  src/Util/Network.php
Due: source

Code standard
  src/Network/CurlResult.php
Due: source

Bugfixing CurlResult
  src/Network/Probe.php
Due: source

Replace missing App->getURLPath in mod/install
  mod/install.php
Due: backend

Try additional $_SERVER properties to get relative path of Friendica
  src/App.php
Due: source

CurlResult Tests
  src/Network/CurlResult.php
  tests/datasets/curl/about.body
  tests/datasets/curl/about.head
  tests/src/Network/CurlResultTest.php
Due: source, tests

Store conversation data directly from the AP receiver
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
Due: source

CurlResult Tests & RegEx fix
  src/Network/CurlResult.php
  tests/datasets/curl/about.redirect
  tests/src/Network/CurlResultTest.php
Due: source, tests

smaller about.body
  tests/datasets/curl/about.body
Due: tests

We now store the diaspora comment data as well
  src/Protocol/ActivityPub/Processor.php
Due: source

Move mod Contacts to /src/Module
  mod/allfriends.php
  mod/common.php
  mod/crepair.php
  mod/dirfind.php
  mod/group.php
  mod/update_contacts.php
  src/Module/Contacts.php
  view/theme/frio/theme.php
Due: source, backend

Upate Contacts module file
  src/Module/Contacts.php
Due: source

Rename Contacts:content function
  mod/update_contacts.php
  src/Module/Contacts.php
Due: source, backend

Revert "We now store the diaspora comment data as well"
  src/Protocol/ActivityPub/Processor.php
Due: source

The virtuel fields for the diaspora signatures have to be removed at any time
  src/Model/Item.php
Due: source

We can now store it without any problem
  src/Protocol/ActivityPub/Processor.php
Due: source

Some beautification
  src/Model/Item.php
Due: source

Avoid beeing flooded by invalid requests
  index.php
  mod/xrd.php
Due: backend

Renaming functions and class
  mod/allfriends.php
  mod/common.php
  mod/contacts.php
  mod/crepair.php
  mod/dirfind.php
  mod/group.php
  src/Module/Contacts.php
  view/theme/frio/theme.php
Due: source, backend

finish refactoring to Module\Contact
  mod/update_contacts.php
  src/Module/Contact.php
  view/theme/frio/theme.php
Due: source, backend

change links from /contacts to /contact
  include/api.php
  mod/crepair.php
  mod/dfrn_confirm.php
  mod/dfrn_request.php
  mod/group.php
  mod/newmember.php
  src/Content/Nav.php
  src/Model/Contact.php
  src/Module/Contact.php
  src/Module/Contacts.php
  util/messages.po
  view/templates/contacts-template.tpl
  view/templates/crepair.tpl
  view/theme/frio/templates/contact_edit.tpl
  view/theme/frio/templates/contacts-template.tpl
  view/theme/frio/templates/crepair.tpl
  view/theme/frio/theme.php
Due: source, backend

Catching error when compacting doesn't work
  src/Util/JsonLD.php
Due: source

Install Class to methods
  mod/install.php
  src/Core/Console/AutomaticInstallation.php
  src/Core/Install.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/Console/ConsoleTest.php
  tests/src/Core/InstallTest.php
Due: source, backend, tests

Move Module AcctLink
  mod/acctlink.php
  src/Module/AcctLink.php
Due: source, backend

AP: Announce will now work
  index.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Moved functions out of boot.php into class
  boot.php
  mod/admin.php
  mod/help.php
  mod/item.php
  mod/viewsrc.php
  src/App.php
  src/Core/System.php
  src/Core/Worker.php
Due: source, backend

Renamed AcctLink to Acctlink
  src/Module/Acctlink.php
Due: source

rename argv to getArgumentValue
  mod/admin.php
Due: backend

isAjax bugfix
  src/App.php
Due: source

OStatus contacts are now automatically converted to AP
  boot.php
  config/dbstructure.json
  database.sql
  src/Model/Contact.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Worker/OnePoll.php
Due: source

"to" is now used for mentions, "cc" for everything else
  src/Protocol/ActivityPub/Transmitter.php
Due: source

We now transmit location and application as well.
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

The instrument is now added, updating AP contacts is now enabled
  mod/crepair.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source, backend
