Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Updated towards Michael Suggestions
  update.php
Due: none

Updated update.php towards code style
  update.php
Due: none

If no generic gender is found, proceed without update
  update.php
Due: none

Seems I forgot about empty translated strings
  update.php
Due: none

refs #6292
  doc/api.md
  include/api.php
  tests/include/ApiTest.php
Due: backend, tests

Moved q(\n"UPDATE to q("UPDATE
  update.php
Due: none

code style & use DBA::p
  include/api.php
Due: backend

follow code standard
  include/api.php
Due: backend

for testApiSearchWithExcludeReplies: q parameter is required.
  tests/include/ApiTest.php
Due: tests

Refactor Worker/Notifier part 1
  src/Worker/Notifier.php
Due: source

Refactor Worker/Notifier part 2
  src/Worker/Notifier.php
Due: source

Refactor Worker/Notifier part 3
  src/Worker/Notifier.php
Due: source

Refactor Worker/Notifier part 4
  src/Worker/Notifier.php
Due: source

Database Structure version 1292
  config/dbstructure.config.php
  database.sql
Due: none

Replace item_id by target_id in multimode delivery workers
  src/Worker/APDelivery.php
  src/Worker/Delivery.php
Due: source

Fix various documentation issues/unused variables
  mod/group.php
  mod/item.php
  src/Model/Group.php
  src/Model/Item.php
  src/Object/Post.php
Due: source, backend

Replace rogue instance of "contacts" by "contact" (#5891)
  mod/group.php
Due: backend

Add delivery queue number manipulation
  src/Model/Item.php
  src/Model/ItemDeliveryData.php
  src/Worker/APDelivery.php
  src/Worker/Delivery.php
  src/Worker/Notifier.php
Due: source

Add delivery queue display in frio and vier
  src/Object/Post.php
  view/templates/sub/delivery_count.tpl
  view/theme/frio/templates/sub/delivery_count.tpl
  view/theme/frio/templates/wall_thread.tpl
  view/theme/vier/templates/sub/delivery_count.tpl
  view/theme/vier/templates/wall_thread.tpl
Due: source

Unit test fix
  src/Model/Item.php
  tests/datasets/api.yml
Due: source, tests

Remove delivery queue done incrementation for mail delivery
  src/Worker/Delivery.php
Due: source

Replace misuses ItemDeliveryData::FIELD_LIST with LEGACY_FIELD_LIST
  src/Model/Item.php
Due: source

Honor item delivery data legacy fields
  src/Model/Item.php
  src/Model/ItemDeliveryData.php
Due: source

Fixes some more things
  config/dbstructure.config.php
  mod/profiles.php
  update.php
Due: backend

1 update to rule them all
  update.php
Due: none

I'm wishing you and your family a very happy christmas
  index.php
Due: none

Fix missing use
  update.php
Due: none

Replace deprecated Addon::*registerHook by Hook::*register
  doc/Addons.md
  doc/de/Addons.md
  view/theme/frio/theme.php
Due: none

forcing language by parameter
  src/Core/L10n.php
Due: source

Updated towards code standards
  src/Core/L10n.php
Due: source

Enable logged in users to force a certain language
  src/Core/L10n.php
Due: source

[doc] Added documentation on forcing locale
  doc/FAQ.md
Due: none

begone
  src/Core/L10n.php
Due: source

Updated docs towards Tobias comments
  doc/FAQ.md
Due: none

Add Monolog
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  composer.json
  composer.lock
  include/api.php
  index.php
  mod/acl.php
  src/App.php
  src/App/FriendicaLoggerProcessor.php
  src/BaseObject.php
  src/Core/Logger.php
  tests/src/BaseObjectTest.php
  update.php
Due: source, backend, binary, tests

Fixed BaseObjectTest
  tests/src/BaseObjectTest.php
Due: tests

Updated towards tobias comments
  doc/FAQ.md
Due: none

Adding Develop and normal Logging instances
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  index.php
  src/App.php
  src/App/FriendicaLoggerProcessor.php
  src/BaseObject.php
  src/Core/Addon.php
  src/Core/Logger.php
  src/Util/Logger/FriendicaDevelopHandler.php
  src/Util/LoggerFactory.php
  tests/src/BaseObjectTest.php
  update.php
Due: source, binary, tests

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
