Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Add 'storage' console command
  src/Core/Console.php
  src/Core/Console/Storage.php
  src/Core/StorageManager.php
Due: source

Add storage backend manager class
  src/Core/StorageManager.php
  src/Model/Photo.php
Due: source

Code standards
  src/Core/Console/Storage.php
  src/Core/StorageManager.php
Due: source

Add 'addon' folder as 'Friendica\Addon' namespace for autoload
  composer.json
Due: none

Add move function to storage manager and console command
  src/Core/Console/Storage.php
  src/Core/StorageManager.php
Due: source

Add storage options form in admin/site page
  mod/admin.php
  src/Model/Storage/Database.php
  src/Model/Storage/Filesystem.php
  src/Model/Storage/IStorage.php
  view/templates/admin/site.tpl
  view/theme/frio/templates/admin/site.tpl
Due: source, backend

Fix Module\Photo exit with error
  src/Module/Photo.php
Due: source

Photo model: set edited and updated on update, fix exists(), docs
  src/Model/Photo.php
Due: source

Code standards
  src/Module/Proxy.php
Due: source

Rewrite Proxy module
  src/Module/Proxy.php
Due: source

Remove empty line before code
  src/Model/Storage/StorageException.php
Due: source

Use Model\Photo as much as possible
  include/api.php
  mod/item.php
  mod/photos.php
  src/Model/Contact.php
  src/Model/Item.php
  src/Model/Mail.php
  src/Model/User.php
  src/Worker/CronJobs.php
Due: source, backend

Fix parse error
  include/api.php
Due: backend

Remove resourceid parameter from Photo::exists()
  include/api.php
  mod/item.php
  src/Model/Photo.php
Due: source, backend

Fix unregister storage backend
  src/Core/StorageManager.php
Due: source

Fix docs
  doc/AddonStorageBackend.md
Due: none

Add docs about storage backend
  doc/AddonStorageBackend.md
  doc/Home.md
  doc/Settings.md
  doc/tools.md
Due: none

Fix moving stored data
  src/Core/StorageManager.php
Due: source

Use DBA::exists() in Photo::exists()
  src/Model/Photo.php
Due: source

Add missing methods to Storage\SystemResource
  src/Model/Storage/SystemResource.php
Due: source

Method getPhoto of Photo model should return false on error
  src/Model/Photo.php
  src/Module/Photo.php
Due: source

Fix storage backend class names
  src/Core/StorageManager.php
Due: source

Don't try to build form for "None" backend.
  mod/admin.php
Due: backend

Don't try to save form for "None" backend.
  mod/admin.php
Due: backend

API - /media/upload - add return value #6272 image.preview: string (url for small image)
  include/api.php
Due: backend

closes #6272
  doc/api.md
  include/api.php
  tests/include/ApiTest.php
Due: backend, tests

API - /search #6274 - fixed: search result always return empty - add hashtag search: friendica_tag params - ApiTest & api.md updated
  doc/api.md
  include/api.php
  tests/include/ApiTest.php
Due: backend, tests

update hashtag regular expression
  include/api.php
Due: backend

#6275 - q support hashtag search
  doc/api.md
  include/api.php
  tests/include/ApiTest.php
Due: backend, tests

# should urlencode to %23
  tests/include/ApiTest.php
Due: tests

ApiTest #6274 #6275
  tests/include/ApiTest.php
Due: tests

Added post-update script
  src/Database/PostUpdate.php
Due: source

Fix StorageManager::move()
  src/Core/StorageManager.php
Due: source

4 spaces to tab
  src/Database/PostUpdate.php
Due: source

Updated towards code review
  src/Database/PostUpdate.php
  update.php
Due: source

Some more code review
  update.php
Due: none

Added missing use
  update.php
Due: none

Push DB_UPDATE_VERSION
  config/dbstructure.config.php
Due: none

Code standards
  update.php
Due: none

Solved warnings
  update.php
Due: none

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
