Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

regen master messages.po
  util/messages.po
Due: none

Making the tests happy
  src/Network/CurlResult.php
Due: source

Fixes a notice and wrong counting of nodes
  mod/admin.php
Due: backend

Don't show the group filter where there is only one
  src/Model/Group.php
Due: source

Frio: Move relocation warning from headline to bootstrap danger box
  mod/admin.php
  view/theme/frio/templates/admin/site.tpl
Due: backend

Readd relocate warning for non-frio themes
  view/templates/admin/site.tpl
Due: none

Fix open registration email
  src/Model/User.php
Due: source

Update deprecated calls in Model\user and mod/removeme
  mod/removeme.php
  src/Model/User.php
Due: source, backend

Normalize quotes in User::remove
  src/Model/User.php
Due: source

Remove redirection from User::remove
  mod/removeme.php
  src/Model/User.php
Due: source, backend

Fix user account removal expiration delay
  src/Model/User.php
Due: source

Add self-removal prevention in mod/admin
  mod/admin.php
Due: backend

Move config/dbstructure.php to config/dbstructure.config.php
  config/dbstructure.config.php
  src/Database/DBStructure.php
  tests/Util/VFSTrait.php
  update.php
Due: source, tests

Add support for PHP array config files
  .gitignore
  config/addon-sample.config.php
  config/defaults.config.php
  config/local-sample.config.php
  config/settings.config.php
  src/App.php
Due: source

Update install to generate config/local.config.php
  .travis.yml
  INSTALL.txt
  bin/dev/vagrant_provision.sh
  src/App/Mode.php
  src/Core/Console/AutomaticInstallation.php
  src/Core/Installer.php
  tests/Util/VFSTrait.php
  tests/src/App/ModeTest.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/InstallerTest.php
  util/local.config.vagrant.php
  view/templates/local.config.tpl
Due: source, binary, tests

Replace *.ini.php by *.config.php in comments
  bin/daemon.php
  boot.php
  mod/admin.php
  src/Core/Config/JITConfigAdapter.php
  src/Core/Console/Config.php
  tests/src/Core/Console/ConfigConsoleTest.php
Due: source, backend, binary, tests

Update documentation with new config style/name
  doc/Config.md
  doc/FAQ.md
  doc/Home.md
  doc/Install.md
  doc/Installing-Connectors.md
  doc/Settings.md
  doc/Update.md
  doc/Vagrant.md
  doc/de/FAQ.md
  doc/de/Home.md
  doc/de/Install.md
  doc/de/Installing-Connectors.md
  doc/de/Settings.md
Due: none

Remove obsolete INI config files
  config/addon-sample.ini.php
  config/config.ini.php
  config/local-sample.ini.php
  config/settings.ini.php
  util/local.ini.vagrant.php
  view/templates/local.ini.tpl
Due: none

Move all warning text in L10n + frio: make warning closable
  mod/admin.php
  view/templates/admin/site.tpl
  view/theme/frio/templates/admin/site.tpl
Due: backend

Change html b to strong
  view/templates/admin/site.tpl
  view/theme/frio/templates/admin/site.tpl
Due: none

Show contact posts from hidden users
  include/conversation.php
Due: backend

Some more escaping
  mod/dirfind.php
  view/templates/contact_template.tpl
  view/theme/frio/templates/contact_template.tpl
  view/theme/frio/templates/mail_list.tpl
  view/theme/frio/templates/wall_thread.tpl
Due: backend

Contact search is now escaped
  mod/acl.php
Due: backend

Escaping the address field
  view/templates/admin/contactblock.tpl
  view/templates/hovercard.tpl
  view/templates/profile_vcard.tpl
  view/templates/remote_friends_common.tpl
  view/templates/search_item.tpl
  view/templates/wall_thread.tpl
  view/theme/duepuntozero/templates/profile_vcard.tpl
  view/theme/quattro/templates/profile_vcard.tpl
  view/theme/smoothly/templates/search_item.tpl
  view/theme/smoothly/templates/wall_thread.tpl
  view/theme/vier/templates/profile_vcard.tpl
Due: none

Much more escapes
  view/templates/admin/site.tpl
  view/templates/birthdays_reminder.tpl
  view/templates/event_stream_item.tpl
  view/templates/events_reminder.tpl
  view/templates/files.tpl
  view/templates/photo_album.tpl
  view/templates/photo_top.tpl
  view/templates/photo_view.tpl
  view/templates/search_item.tpl
  view/templates/settings/display.tpl
  view/templates/wall_thread.tpl
  view/theme/frio/templates/admin/site.tpl
  view/theme/frio/templates/photo_top.tpl
  view/theme/frio/templates/photo_view.tpl
  view/theme/frio/templates/search_item.tpl
  view/theme/frio/templates/settings/display.tpl
  view/theme/frio/templates/theme_settings.tpl
  view/theme/frio/templates/wall_thread.tpl
  view/theme/quattro/templates/photo_item.tpl
  view/theme/quattro/templates/photo_view.tpl
  view/theme/quattro/templates/search_item.tpl
  view/theme/quattro/templates/wall_thread.tpl
  view/theme/smoothly/templates/search_item.tpl
  view/theme/smoothly/templates/wall_thread.tpl
  view/theme/vier/templates/communityhome.tpl
  view/theme/vier/templates/wall_thread.tpl
Due: none

Some correction
  view/templates/admin/contactblock.tpl
  view/templates/hovercard.tpl
  view/templates/profile_vcard.tpl
  view/templates/remote_friends_common.tpl
  view/templates/search_item.tpl
  view/templates/wall_thread.tpl
  view/theme/duepuntozero/templates/profile_vcard.tpl
  view/theme/quattro/templates/profile_vcard.tpl
  view/theme/smoothly/templates/search_item.tpl
  view/theme/smoothly/templates/wall_thread.tpl
  view/theme/vier/templates/profile_vcard.tpl
Due: none

Just some misspelling
  view/theme/frio/templates/contact_template.tpl
Due: none

Missing '
  include/items.php
Due: backend

Add missing closing tags
  view/templates/admin/summary.tpl
  view/theme/frio/templates/admin/summary.tpl
Due: none

Use constants instead of strings for register_policy
  config/local-sample.config.php
  config/settings.config.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  util/local.config.vagrant.php
  view/templates/local.config.tpl
Due: tests

Fix addon-sample config file values
  config/addon-sample.config.php
Due: none

Fix Vagrant config values
  util/local.config.vagrant.php
Due: none

Fix indentation style in settings docs
  doc/Settings.md
  doc/de/Settings.md
Due: none

Add constant case to config migration tables
  doc/Config.md
Due: none

Improve Settings and Translations docs
  doc/Settings.md
  doc/translations.md
Due: none

Regenerate master messages.po file
  util/messages.po
Due: none

Fix Term exists check on link which isn't stored for hashtags anymore to check on term.
  src/Model/Term.php
Due: source

Move master translation file away from util
  .tx/config
  README.translate.md
  bin/run_xgettext.sh
  doc/translations.md
  src/Core/Console/PhpToPo.php
  src/Core/Console/PoToPhp.php
  src/Core/Console/Typo.php
  util/strings.php
  view/lang/C/messages.po
Due: source, binary

Move credits out of util/
  CREDITS.txt
  bin/dev/make_credits.py
  mod/credits.php
Due: backend, binary
