Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Replacing log usage
  include/api.php
  mod/acl.php
Due: backend

Log format
  src/Util/LoggerFactory.php
Due: source

define api log prefix
  include/api.php
Due: backend

bugfix test
  tests/src/BaseObjectTest.php
Due: tests

Bugfixing
  src/App.php
  src/Core/Logger.php
  src/Util/LoggerFactory.php
  tests/include/ApiTest.php
  tests/src/BaseObjectTest.php
Due: source, tests

skipStackFramesCount to 1 to skip static method
  src/Util/LoggerFactory.php
Due: source

Adding more information in case of warning (or dev)
  src/Util/LoggerFactory.php
Due: source

Move mod/attach to src, add Attach model, update attach table to use storage backends
  config/dbstructure.config.php
  mod/attach.php
  src/Model/Attach.php
  src/Module/Attach.php
Due: source, backend

Attach: store, update, delete. Model and views
  mod/wall_attach.php
  src/Model/Attach.php
  src/Model/Item.php
Due: source, backend

Item model, fix deletion of all attachments
  src/Model/Item.php
  vagrant.local.yaml
Due: source

Photo model. Small fix to `update()`
  src/Model/Photo.php
Due: source

Fix Attach model store() and storeFile()
  mod/wall_attach.php
  src/Model/Attach.php
Due: source, backend

removed unused get_app()
  include/api.php
Due: backend

Refactor Loglevels
  include/api.php
  src/App.php
  src/Core/Logger.php
Due: source, backend

Use Attach model while deleting in video tab
  mod/videos.php
Due: backend

Fix undefined var in module Proxy
  src/Module/Proxy.php
Due: source

return default mimetype for unknown extensions
  src/Util/Mimetype.php
Due: source

Use more Attach model
  mod/item.php
Due: backend

Update "storage" console command
  src/Core/Console/Storage.php
  src/Core/StorageManager.php
  src/Model/Attach.php
Due: source

Change channel "app" to "index"
  index.php
Due: none

remove file added by mistake
  vagrant.local.yaml
Due: none

update database.sql
  database.sql
Due: none

Small fixes
  mod/videos.php
  src/Core/Console/Storage.php
  src/Module/Attach.php
Due: source, backend

Revert "Add monolog"
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  composer.json
  composer.lock
  include/api.php
  index.php
  mod/acl.php
  src/App.php
  src/BaseObject.php
  src/Core/Addon.php
  src/Core/Logger.php
  src/Util/Logger/FriendicaDevelopHandler.php
  src/Util/LoggerFactory.php
  tests/include/ApiTest.php
  tests/src/BaseObjectTest.php
  update.php
Due: source, backend, binary, tests

Add Monolog
  bin/auth_ejabberd.php
  bin/console.php
  bin/daemon.php
  bin/worker.php
  composer.json
  composer.lock
  include/api.php
  index.php
  mod/acl.php
  src/App.php
  src/BaseObject.php
  src/Core/Addon.php
  src/Core/Logger.php
  src/Util/Logger/FriendicaDevelopHandler.php
  src/Util/LoggerFactory.php
  tests/include/ApiTest.php
  tests/src/BaseObjectTest.php
  update.php
Due: source, backend, binary, tests

Adding legacy code mapping for given configurations.
  config/settings.config.php
Due: none

Add "on their post" label to notifications
  include/enotify.php
Due: backend

Update translation strings
  view/lang/C/messages.po
Due: none

[Composer] Add required extensions
  composer.json
Due: none

Update PHPDoc in mod/
  mod/admin.php
  mod/dfrn_request.php
  mod/fbrowser.php
  mod/hovercard.php
  mod/item.php
  mod/match.php
  mod/network.php
  mod/parse_url.php
  mod/ping.php
  mod/receive.php
  mod/smilies.php
  mod/tagrm.php
  mod/view.php
  src/Core/PConfig.php
  src/Core/Renderer.php
  src/Model/GContact.php
  src/Object/Image.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source, backend

Update more PHPDoc, including in include/
  include/conversation.php
  include/dba.php
  include/enotify.php
  include/items.php
  include/text.php
  mod/item.php
  mod/network.php
  mod/uexport.php
  src/Content/ForumManager.php
  src/Content/Text/BBCode.php
  src/Core/NotificationsManager.php
  src/Model/Contact.php
  src/Model/Event.php
  src/Model/GContact.php
  src/Model/Queue.php
  src/Model/User.php
  src/Protocol/PortableContact.php
Due: source, backend

Update namespace use calls in mod/
  mod/amcd.php
  mod/api.php
  mod/cal.php
  mod/credits.php
  mod/delegate.php
  mod/fetch.php
  mod/filerm.php
  mod/follow.php
  mod/group.php
  mod/ignored.php
  mod/invite.php
  mod/like.php
  mod/nogroup.php
  mod/notice.php
  mod/openid.php
  mod/profile.php
  mod/profile_photo.php
  mod/randprof.php
  mod/redir.php
  mod/removeme.php
  mod/search.php
  mod/starred.php
  src/Core/Renderer.php
Due: source, backend

Update namespaces declaration in include/
  include/api.php
  include/text.php
  src/Core/Renderer.php
  src/Module/Contact.php
  src/Worker/PubSubPublish.php
Due: source, backend

Update PHPDoc in include/
  include/api.php
  mod/view.php
Due: backend

Update namespace in mod/view
  mod/view.php
Due: backend

Remove unused code in mod/
  mod/allfriends.php
  mod/api.php
  mod/delegate.php
  mod/dfrn_notify.php
  mod/dfrn_poll.php
  mod/dfrn_request.php
  mod/directory.php
  mod/display.php
  mod/editpost.php
  mod/events.php
  mod/fbrowser.php
  mod/fsuggest.php
  mod/home.php
  mod/hovercard.php
  mod/item.php
  mod/lostpass.php
  mod/message.php
  mod/network.php
  mod/notes.php
  mod/photos.php
  mod/profile.php
  mod/profile_photo.php
  mod/profiles.php
  mod/pubsub.php
  mod/pubsubhubbub.php
  mod/register.php
  mod/repair_ostatus.php
  mod/salmon.php
  mod/settings.php
  mod/videos.php
  mod/view.php
  mod/wall_attach.php
  mod/wall_upload.php
  src/Worker/PubSubPublish.php
Due: source, backend

Remove unused code in include/
  include/api.php
  include/conversation.php
  include/items.php
Due: backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
