Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Automatically adding mentions in the network stream hadn't really worked
  src/Object/Post.php
Due: source

Adding worker id & functionname to worker logs
  src/Core/Worker.php
  src/Util/Logger/WorkerLogger.php
  tests/src/Util/Logger/WorkerLoggerTest.php
Due: source, tests

Removed unused code
  src/App.php
  src/Core/System.php
Due: source

Formatting logger to new style
  src/Core/Worker.php
Due: source

skip WorkerLogger for Logging
  src/Factory/LoggerFactory.php
Due: source

Bugfixings in Config
  bin/daemon.php
  src/App.php
  src/Core/Config.php
  src/Core/Config/Adapter/AbstractDbaConfigAdapter.php
  src/Core/Config/Adapter/IConfigAdapter.php
  src/Core/Config/Adapter/IPConfigAdapter.php
  src/Core/Config/Adapter/JITConfigAdapter.php
  src/Core/Config/Adapter/JITPConfigAdapter.php
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
  src/Core/Config/Cache/ConfigCache.php
  src/Core/Config/Cache/ConfigCacheLoader.php
  src/Core/Config/Cache/IConfigCache.php
  src/Core/Config/Cache/IPConfigCache.php
  src/Core/Config/Configuration.php
  src/Core/Config/PConfiguration.php
  src/Core/PConfig.php
  src/Database/DBA.php
  src/Factory/DBFactory.php
  src/Factory/DependencyFactory.php
  src/Model/Photo.php
  tests/include/ApiTest.php
  tests/src/Database/DBATest.php
  tests/src/Database/DBStructureTest.php
Due: source, binary, tests

switched back to logger
  src/Core/Worker.php
Due: source

readded note
  src/Core/Config.php
Due: source

bugfix marking of db-values
  src/Core/Config/Adapter/JITPConfigAdapter.php
Due: source

fixing tests and preload config
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
  tests/src/Core/Config/Cache/ConfigCacheLoaderTest.php
  tests/src/Core/Config/Cache/ConfigCacheTest.php
  tests/src/Core/Config/ConfigurationTest.php
  tests/src/Core/Config/PConfigurationTest.php
Due: source, tests

fixing preload adapter
  src/Core/Config/Adapter/JITConfigAdapter.php
  src/Core/Config/Adapter/JITPConfigAdapter.php
  src/Core/Config/Adapter/PreloadConfigAdapter.php
  src/Core/Config/Adapter/PreloadPConfigAdapter.php
Due: source

bugfixing test
  tests/DatabaseTest.php
Due: tests

cleanup
  src/App.php
  src/Core/Config.php
Due: source

[rendertime] Timing problem during addon config read
  src/App.php
  src/Util/Profiler.php
Due: source

improve tests
  tests/src/Util/ProfilerTest.php
Due: tests

Return 404 if nodeinfo isn't enabled.
  mod/nodeinfo.php
Due: backend

Fixing #issuecomment-456403983
  src/Core/Update.php
Due: source

reverting back workerLogger to Logger
  src/Core/Worker.php
Due: source

Fixing DBA::reconnect()
  src/Database/DBA.php
Due: source

Fixing DBA::(re-)connect()
  src/Core/Console/AutomaticInstallation.php
  src/Core/Installer.php
  src/Module/Install.php
Due: source

Fixing DBA::(re-)connect()
  src/Database/DBA.php
  tests/DatabaseTest.php
Due: source, tests

Fixes "Undefined property: Friendica\App::$queue"
  src/Core/Worker.php
  src/Object/Post.php
Due: source

Fix: Following url with html entities now works again
  view/theme/frio/templates/auto_request.tpl
  view/theme/frio/templates/dfrn_request.tpl
Due: none

Don't allow calling the install page after the install had been processed
  src/Module/Install.php
Due: source

Only check once
  src/Module/Install.php
Due: source

Normalize Contact::magicLinkByContact method name
  include/conversation.php
  src/Model/Contact.php
  src/Object/Post.php
Due: source, backend

Improve /itemsource display
  src/Module/Itemsource.php
  view/templates/debug/itemsource.tpl
Due: source

Improve Logger calls
  include/enotify.php
  mod/item.php
  src/Database/DBA.php
  src/Model/Item.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Util/XML.php
Due: source, backend

Add potential debug display of implicit mentions in frio
  include/conversation.php
  src/Object/Post.php
  view/theme/frio/templates/wall_thread.tpl
Due: source, backend

Rename system.disable_mentions_removal config key to system.disable_implicit_mentions
  config/defaults.config.php
  src/Protocol/ActivityPub/Processor.php
Due: source

Rewrite Term class
  boot.php
  src/Model/Term.php
  src/Util/Strings.php
Due: source

Fix implicit mentions in outgoing ActivityPub posts
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Add implicit mention gathering in local posts
  mod/item.php
Due: backend

Add implicit mentions to explicit mentions default text
  src/Object/Post.php
Due: source

Fix implicit mentions in incoming ActivityPub posts
  src/Protocol/ActivityPub/Processor.php
Due: source

Fix Diaspora outgoing implicit mention
  src/Protocol/Diaspora.php
Due: source

Improve Logger calls
  mod/item.php
  src/Database/DBA.php
  src/Model/Item.php
  src/Model/Term.php
  src/Protocol/ActivityPub/Processor.php
Due: source, backend

Add doc to Model\Term
  src/Model/Term.php
Due: source

Merge /contactgroup module with Group module
  src/Module/Group.php
Due: source

Move group module to src/
  src/Model/Group.php
  src/Module/Group.php
Due: source

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
