Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Deactivated BCC
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fix unsetting non-existent index in Addon::$addons on uninstall
  src/Core/Addon.php
Due: source

Add new Content\Pager class
  src/Content/Pager.php
Due: source

Move $pager and $page_offset out of App
  boot.php
  include/conversation.php
  include/text.php
  mod/admin.php
  mod/allfriends.php
  mod/common.php
  mod/community.php
  mod/directory.php
  mod/dirfind.php
  mod/display.php
  mod/item.php
  mod/match.php
  mod/message.php
  mod/network.php
  mod/notes.php
  mod/notifications.php
  mod/photos.php
  mod/profile.php
  mod/search.php
  mod/videos.php
  mod/viewcontacts.php
  src/App.php
  src/Core/ACL.php
  src/Model/Contact.php
  src/Module/Contact.php
  view/js/main.js
  view/templates/head.tpl
  view/templates/infinite_scroll_head.tpl
  view/theme/frio/templates/js_strings.tpl
Due: source, backend

Add new Hook::add method to enable module hooks
  src/Core/Hook.php
Due: source

Update Pager->__construct calls for minimal use cases
  mod/community.php
  mod/notes.php
  mod/notifications.php
  mod/profile.php
Due: backend

Fix usages of Pager with JSON calls in mod/match and mod/dirfind
  mod/dirfind.php
  mod/match.php
Due: backend

Move itemCount parameter from constructor to renderFull()
  mod/admin.php
  mod/allfriends.php
  mod/common.php
  mod/directory.php
  mod/dirfind.php
  mod/match.php
  mod/message.php
  mod/photos.php
  mod/videos.php
  mod/viewcontacts.php
  src/Content/Pager.php
  src/Module/Contact.php
Due: source, backend

indents now with tabs
  view/theme/frio/templates/group_edit.tpl
Due: none

Only perform Term::deleteAllTags when needed + not needed redirect
  mod/tagrm.php
  src/Model/Item.php
Due: source, backend

Replace update/delete with Term::insertFramTagFieldByItemId + Code Standards + Wording
  mod/photos.php
  mod/tagrm.php
Due: backend

Code Standard: indent
  mod/photos.php
Due: backend

Code Standard + renaming deleteAllTags + move its call and add type param
  mod/photos.php
  mod/tagrm.php
  src/Model/Item.php
  src/Model/Term.php
  view/theme/frio/templates/photo_view.tpl
Due: source, backend

Fix goaway call
  mod/tagrm.php
Due: backend

fix doxygen header + indent
  mod/tagrm.php
  src/Model/Term.php
  view/theme/frio/templates/photo_view.tpl
Due: source, backend

Fix adding / removing photo tags + tagrm delete via GET + Item::update / add Term::deleteAllTags
  mod/photos.php
  mod/tagrm.php
  src/Model/Item.php
  src/Model/Term.php
  view/theme/frio/templates/photo_view.tpl
Due: source, backend

Code Standards: Spaces
  mod/tagrm.php
Due: backend

Fix ?
  mod/tagrm.php
Due: backend

Fix small typo (land -> lang)
  doc/Install.md
  doc/de/Install.md
Due: none

Code Standards: var name, spaces, array_push short form
  mod/photos.php
  mod/tagrm.php
Due: backend

AP: We now transmit and process events
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Issue 5913: Fix fatal error in "RemoveUser"
  src/Model/Item.php
Due: source

CS translation update THX Aditoo
  view/lang/cs/messages.po
  view/lang/cs/strings.php
Due: none

Declare missing `$lang` for default template in App->runFrontend
  src/App.php
Due: source

AP: Event participation and editing of posts are now supported
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Fixes duplicated transmissions and not working undo of like/dislike
  mod/item.php
  mod/photos.php
  mod/poke.php
  src/Model/Item.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Protocol/Diaspora.php
  src/Worker/Notifier.php
Due: source, backend

Remove extra use statement in mod/item
  mod/item.php
Due: backend

Diaspora signatures are now stored and transmitted correctly
  mod/item.php
  src/Model/Item.php
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Protocol/ActivityPub/Transmitter.php
  src/Protocol/Diaspora.php
Due: source, backend

Install to Module
  mod/install.php
  src/Core/Install.php
  src/Module/Install.php
  tests/src/Core/InstallTest.php
Due: source, backend, tests

Code Standards
  src/Module/Install.php
Due: source

Replacing error message
  src/Core/Install.php
Due: source

Refactoring Installation
  src/Core/Console/AutomaticInstallation.php
  src/Core/Installer.php
  src/Module/Install.php
  tests/src/Core/InstallerTest.php
  view/templates/install.tpl
  view/templates/install_db.tpl
  view/templates/install_finished.tpl
  view/templates/install_settings.tpl
Due: source, tests

Diaspora signature transport via AP/DFRN should be repaired now
  mod/item.php
  src/Model/Item.php
  src/Protocol/Diaspora.php
Due: source, backend

Show error message if image exceeds limit + fix close button
  view/theme/frio/js/filebrowser.js
  view/theme/frio/templates/filebrowser.tpl
Due: none

Enables error messages for files too
  view/theme/frio/js/filebrowser.js
Due: none

Bugfixings
  src/Core/Console/AutomaticInstallation.php
  src/Core/Installer.php
  src/Module/Install.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  util/testargs.php
Due: source, tests

Mocking DBStructure::existsTable()
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

Bugfixing missing 'REQUEST_URI' for relative path installation
  src/App.php
Due: source

Correct misspelling
  src/Core/Logger.php
Due: source

Remove functions
  include/text.php
Due: backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
