Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

Using random_int directly
  src/Util/Crypto.php
  tests/src/Util/CryptoTest.php
Due: source, tests

Using random_int directly
  tests/src/Util/CryptoTest.php
Due: tests

Removed unnecessary function
  tests/src/Util/CryptoTest.php
Due: tests

Improved logger text
  src/Worker/Notifier.php
Due: source

Split text.php to HTML class
  include/text.php
  src/Content/Text/HTML.php
Due: source, backend

functions moved to HTML class
  include/api.php
  mod/network.php
  mod/profperm.php
  mod/search.php
  src/Content/ForumManager.php
  src/Content/Text/HTML.php
  src/Model/Profile.php
  src/Protocol/DFRN.php
Due: source, backend

Missing Include
  include/text.php
Due: backend

bug fix
  src/Content/Text/HTML.php
Due: source

Missed use
  src/Content/Text/HTML.php
Due: source

Fix Friendica node info json
  mod/friendica.php
Due: backend

Stop PortableContacts to raise warning on malformed register_policy
  src/Protocol/PortableContact.php
Due: source

rename function
  include/api.php
  src/Content/Text/HTML.php
  src/Protocol/DFRN.php
Due: source, backend

Rename properly
  include/api.php
  src/Content/Text/HTML.php
  src/Protocol/DFRN.php
Due: source, backend

Fixes PR 6085
  src/Content/Text/HTML.php
Due: source

Split text.php to L10n
  include/text.php
  src/Core/L10n.php
Due: source, backend

Update function calls
  include/items.php
  mod/poke.php
  src/Model/Event.php
  src/Model/Profile.php
  src/Util/Temporal.php
Due: source, backend

Add use statement
  src/Core/L10n.php
Due: source

coding standards
  src/Core/L10n.php
Due: source

Fix code style
  mod/friendica.php
  src/Protocol/PortableContact.php
Due: source, backend

Fix return url when dropping post loaded by update_* in non-frio
  include/items.php
Due: backend

move live update: update_contacts to update_contact
  mod/update_contact.php
  view/js/main.js
Due: backend

Split text to Item
  include/text.php
  src/Model/Item.php
Due: source, backend

Function calls
  include/conversation.php
  include/enotify.php
  mod/item.php
  src/Content/Text/BBCode.php
  src/Object/Post.php
  src/Protocol/Email.php
Due: source, backend

Move another function
  include/conversation.php
  include/text.php
  src/Model/Item.php
  src/Object/Post.php
Due: source, backend

Avoid notice in gcontact
  src/Model/GContact.php
Due: source

Standards
  src/Model/Item.php
Due: source

We now directly support the custom emojis from Mastodon
  src/Protocol/ActivityPub/Processor.php
  src/Protocol/ActivityPub/Receiver.php
  src/Util/JsonLD.php
Due: source

Refactoring identities to Model\User::identities
  src/Core/Authentication.php
  src/Model/User.php
  tests/Util/DBAMockTrait.php
  tests/src/Model/UserTest.php
Due: source, tests

New indexes to speed up the worker
  config/dbstructure.php
Due: none

Fixing tests
  tests/src/Model/UserTest.php
Due: tests

Using CSS for custom emojis
  src/Protocol/ActivityPub/Processor.php
  view/global.css
Due: source

Split text.php to Strings class
  include/text.php
  src/Util/Strings.php
Due: source, backend

random_string calls
  include/api.php
  include/enotify.php
  include/items.php
  mod/dfrn_confirm.php
  mod/dfrn_notify.php
  mod/dfrn_poll.php
  mod/dfrn_request.php
  mod/fsuggest.php
  mod/pubsubhubbub.php
  mod/redir.php
  mod/removeme.php
  spec/dfrn2_contact_request.svg
  src/Content/Text/HTML.php
  src/Model/Contact.php
  src/Model/Item.php
  src/Model/Register.php
  src/Module/Magic.php
  src/Module/Owa.php
  src/Network/Probe.php
  src/Protocol/DFRN.php
  src/Protocol/Diaspora.php
  src/Util/LDSignature.php
  src/Util/Strings.php
Due: source, backend

escape_tags calls
  mod/admin.php
  mod/dirfind.php
  mod/events.php
  mod/fsuggest.php
  mod/item.php
  mod/message.php
  mod/network.php
  mod/profile.php
  mod/profiles.php
  mod/wallmessage.php
  src/Model/Item.php
  src/Module/Contact.php
  src/Module/Hashtag.php
  src/Util/Strings.php
  src/Worker/OnePoll.php
  tests/include/TextTest.php
Due: source, backend, tests

autoname calls
  mod/lostpass.php
  src/Core/Installer.php
  src/Model/Register.php
  src/Model/User.php
  src/Util/Strings.php
Due: source, backend

format_network_name calls
  mod/hovercard.php
  src/Model/Profile.php
  src/Module/Contact.php
  src/Util/Strings.php
  tests/include/TextTest.php
Due: source, backend, tests

deindent calls
  mod/admin.php
  mod/lostpass.php
  src/Core/Update.php
  src/Model/User.php
Due: source, backend

formatBytes calls
  include/api.php
  mod/photos.php
  mod/profile_photo.php
  mod/wall_attach.php
  mod/wall_upload.php
Due: backend

protect_sprintf calls
  mod/network.php
  mod/profile.php
  src/Module/Contact.php
  src/Protocol/DFRN.php
  view/theme/frio/theme.php
Due: source, backend

Path conditions:
  source: any of: src/
  backend: any of: mod/, include/
  binary: any of: bin/
  tests: any of: tests/
