Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Add Mastodon/Pleroma protocol guessing
  src/Core/Protocol.php
Due: source

Remove network exception in handle_tag
  mod/item.php
Due: backend

Rework BBCode::convertShare to accept a callback function
  src/Content/Text/BBCode.php
Due: source

Fix template urls from contacts/ to contact/
  view/templates/contact_edit.tpl
  view/theme/frio/templates/contact_edit.tpl
  view/theme/vier/templates/contact_edit.tpl
Due: none

Remaining contacts to contact
  include/conversation.php
Due: backend

Move include/security tp /src/Core/Authentication and /src/Util/Security
  include/api.php
  include/security.php
  mod/admin.php
  mod/attach.php
  mod/cal.php
  mod/delegate.php
  mod/display.php
  mod/group.php
  mod/invite.php
  mod/item.php
  mod/manage.php
  mod/openid.php
  mod/photo.php
  mod/photos.php
  mod/profile.php
  mod/profile_photo.php
  mod/profiles.php
  mod/register.php
  mod/settings.php
  mod/subthread.php
  mod/videos.php
  src/Content/Widget/TagCloud.php
  src/Core/Authentication.php
  src/Model/Group.php
  src/Model/Item.php
  src/Model/Photo.php
  src/Module/Login.php
  src/Module/Logout.php
  src/Object/Thread.php
  src/Util/Security.php
Due: source, backend

Add $is_quote_share parameter to convert share callback
  src/Content/Text/BBCode.php
Due: source

remove unsed require_onces of security.php
  mod/community.php
  mod/filer.php
  mod/item.php
  mod/like.php
  mod/notes.php
  mod/poke.php
  mod/search.php
  mod/tagger.php
  mod/videos.php
  src/Module/Logout.php
  src/Module/Proxy.php
  src/Util/Proxy.php
Due: source, backend

Rename function Authentication::authenticate_success to Authentication::success
  include/api.php
  mod/manage.php
  mod/openid.php
  src/Core/Authentication.php
  src/Module/Login.php
Due: source, backend

Use "uri-id" for item relations
  boot.php
  config/dbstructure.json
  src/Model/Item.php
  update.php
Due: source

Add Link promt in comment + only add URL instead of attachement via parse_url
  mod/parse_url.php
  view/theme/frio/js/textedit.js
  view/theme/frio/templates/comment_item.tpl
Due: backend

Renaming functions + moving functions from security to Model/Item and BaseModule + fix multiline comments
  include/api.php
  mod/admin.php
  mod/attach.php
  mod/cal.php
  mod/delegate.php
  mod/display.php
  mod/group.php
  mod/invite.php
  mod/item.php
  mod/manage.php
  mod/openid.php
  mod/photo.php
  mod/photos.php
  mod/profile.php
  mod/profile_photo.php
  mod/register.php
  mod/settings.php
  mod/subthread.php
  mod/videos.php
  src/BaseModule.php
  src/Content/Widget/TagCloud.php
  src/Core/Authentication.php
  src/Model/Group.php
  src/Model/Item.php
  src/Model/Photo.php
  src/Module/Login.php
  src/Module/Logout.php
  src/Object/Thread.php
  src/Util/Security.php
Due: source, backend

Remove unneeded Util/Security includings + Resolve including merge conflict with develop
  mod/admin.php
  mod/register.php
Due: backend

add remaning/moving to files not touch by refactoring because of typo
  mod/profiles.php
  src/Model/Item.php
Due: source, backend

Inserted missing hidden input with form_security_token
  view/theme/frio/templates/group_edit.tpl
Due: none

For test purposes we can now deactivate polling
  config/config.ini.php
  src/Worker/OnePoll.php
Due: source

Avoid endless loop when trying to fetch contact id
  src/Model/Contact.php
Due: source

Improved loop detection
  src/Model/Contact.php
Due: source

AP: Fix a notice / avoid an error when fetched content hadn't been an array
  src/Protocol/ActivityPub.php
  src/Protocol/ActivityPub/Processor.php
Due: source

Replace remaining instances of "contacts/"
  mod/common.php
  mod/crepair.php
  mod/follow.php
  mod/unfollow.php
Due: backend

AP: Fix "null" receiver
  src/Protocol/ActivityPub/Transmitter.php
Due: source

Restore preshare prepending in BBCode::convertShare
  src/Content/Text/BBCode.php
Due: source

Fix app/client links
  doc/FAQ.md
Due: none

Fix broken credits box
  view/theme/frio/css/style.css
Due: none

The handling with item-content and item-activity had been simplified
  src/Model/Item.php
Due: source

Remove superfluous L10n::t() parameter in Model\user
  src/Model/User.php
Due: source

Diaspora: Widen the magic link regular expression
  src/Content/Text/BBCode.php
  src/Protocol/Diaspora.php
Due: source

Add itemsource module
  src/Model/Conversation.php
  src/Module/Itemsource.php
  view/templates/debug/itemsource.tpl
Due: source

Use nickname based mentions for AP
  src/Protocol/ActivityPub/Transmitter.php
Due: source

fixed view of active embedded videos
  view/theme/frio/css/style.css
Due: none

updated to match coding styles
  view/theme/frio/css/style.css
Due: none

update function names in logger and comments
  mod/profile_photo.php
  mod/videos.php
  src/BaseModule.php
Due: source, backend

Fix function naming
  src/Protocol/ActivityPub/Transmitter.php
Due: source

[frio] Enable click through image caption in file browser
  view/theme/frio/css/style.css
Due: none

Use local temporary directory for PasswordExposedChecker cache
  src/Model/User.php
Due: source

Add system.temppath description to config/settings.ini.php
  config/settings.ini.php
Due: none

Remove reference to deleted include/security.php
  src/Protocol/DFRN.php
Due: source

Remove reference to deleted include/security in mod/pubsub
  mod/pubsub.php
Due: backend

Updated documentation for logged_in hook location
  doc/Addons.md
Due: none

Updated german addons doc with new location for logged_in hook
  doc/de/Addons.md
Due: none
