Repository eblessings/doctors-eblessings: changes, and which Codecov flags are due for each by the changed paths.
All: source, backend, binary, tests

.codecov.yml:

codecov:
  branch: develop

comment: off

coverage:
  status:
    patch:
      default: off
      source:
        target: 80%
        flags: source
      backend:
        target: 80%
        flags: backend
    project:
      default: off
      source:
        flags: source
      backend:
        flags: backend

flags:
  source:
    paths:
      - src/
  backend:
    paths:
      - mod/
      - include/
  binary:
    paths:
      - bin/
  tests:
    paths:
      - tests/

Review Modifications
  boot.php
  src/Core/Logger.php
Due: source

Create Logger class
  include/text.php
  src/Core/Logger.php
Due: source, backend

missing use and self
  src/Core/Logger.php
Due: source

Missing BaseObject
  src/Core/Logger.php
Due: source

Review Updates
  src/Core/Logger.php
Due: source

Bug fix
  src/App.php
Due: source

Avoid duplicated delivery to Diaspora
  src/Worker/Notifier.php
Due: source

Create FileTag class
  include/text.php
  src/Model/FileTag.php
Due: source, backend

Update function calls
  mod/editpost.php
  mod/filer.php
  mod/filerm.php
  mod/item.php
  src/Content/Widget.php
  src/Model/Item.php
  src/Protocol/DFRN.php
Due: source, backend

DE translation THX vinz
  view/lang/de/messages.po
  view/lang/de/strings.php
Due: none

regen master messages.po
  util/messages.po
Due: none

Frio - add desktop or mobile view class to the html body
  view/theme/frio/php/default.php
Due: none

Frio - on mobiles the links in thread will always have the link color (disabling thread hover effect)
  view/theme/frio/css/style.css
Due: none

Bugfixing & Enhancement
  tests/Util/AppMockTrait.php
  tests/Util/ConfigMockTrait.php
  tests/Util/DBAMockTrait.php
  tests/Util/DBStructureMockTrait.php
  tests/datasets/ini/assert.ini.php
  tests/datasets/ini/assert_db.ini.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/Console/ConfigConsoleTest.php
  tests/src/Core/Console/ConsoleTest.php
  tests/src/Core/Console/MultiUseConsole.php
Due: tests

removed unnecessary use
  tests/src/Core/Console/ConfigConsoleTest.php
Due: tests

Frio - some cleanups for default.php
  view/theme/frio/php/default.php
Due: none

Moved Mocking usage Adding more documentation
  tests/Util/AppMockTrait.php
  tests/Util/ConfigMockTrait.php
  tests/Util/DBAMockTrait.php
  tests/Util/DBStructureMockTrait.php
  tests/Util/VFSTrait.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

Bufixing environment specific assertion problem
  tests/Util/VFSTrait.php
  tests/datasets/ini/assert_db.ini.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

Documentation
  src/Model/FileTag.php
Due: source

Bugfixing executable (Mocking the executable)
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
  tests/src/Core/Console/ConfigConsoleTest.php
  tests/src/Core/Console/ConsoleTest.php
Due: tests

Fixing issue L10n::t()
  tests/Util/AppMockTrait.php
  tests/src/Core/Console/AutomaticInstallationConsoleTest.php
Due: tests

Moved the functions update_db and run_update_function to a Friendica\Core\Update class
  boot.php
  src/Core/Console/DatabaseStructure.php
  src/Core/Update.php
  src/Worker/DBUpdate.php
Due: source

Replacing dbupdate_ in admin.php and removing it from Worker\DBUpdate
  mod/admin.php
  src/Worker/DBUpdate.php
Due: source, backend

Using Locks for Updating and writing last success to config
  src/Core/Update.php
Due: source

Setting update version & time on success
  mod/admin.php
  src/Core/Update.php
Due: source, backend

Moving UPDATE defines/constants out of boot
  boot.php
  mod/admin.php
  src/Core/Update.php
  src/Database/DBStructure.php
  update.php
Due: source, backend

moved check_db($via_worker) to Update::check($via_worker)
  bin/worker.php
  boot.php
  src/Core/Update.php
Due: source, binary

Replaced check_db in App
  src/App.php
Due: source

removed update db functions again
  boot.php
Due: none

Adding force to update routine
  src/Core/Cache.php
  src/Core/Cache/DatabaseCacheDriver.php
  src/Core/Cache/ICacheDriver.php
  src/Core/Cache/IMemoryCacheDriver.php
  src/Core/Console/DatabaseStructure.php
  src/Core/Lock.php
  src/Core/Update.php
  src/Database/DBStructure.php
  update.php
Due: source

Renamed Cache flag
  src/Core/Cache.php
  src/Core/Update.php
Due: source

refactoring query
  src/Core/Update.php
Due: source

introducing Logger::log
  src/Core/Update.php
Due: source

Create Core\Renderer Class
  include/text.php
  src/Core/Renderer.php
Due: source, backend

Adding more Logger entries in case of update process
  src/Core/Update.php
Due: source

Remove old functions
  include/text.php
Due: backend
